<div class="main posts-new">
  <div class="container">
    <h1>Publicar</h1>
    <%= form_with(model: service) do |f| %>
      <div class="form">
        <div class="form-body">
          <% @service.errors.full_messages_for(:title).each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <% @service.errors.full_messages_for(:detail).each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <div class="field">
            <%= f.label :title, 'Título'  %><br/>
            <%= f.text_field :title, value: @service.title %>
          </div>

          <div class="field">
            <%= f.label :image, 'Imagen' %><br/>
            <%= f.file_field :image %>
          </div>

          <div class="field">
            <%= f.label :category_id %><br/>
            <%= f.select :category_id, options_for_select(Category.all.map{|category| [category.name, category.id]}), { prompt: 'Por favor, elija de la siguiente lista' }, required: true %>
          </div>

          <div class="field">
            <%= f.label :detail, 'Detalle' %><br/>
            <%= f.text_area :detail, value: @service.detail %>
          </div>
        </div>
      </div>
      <br>
      <div class="d-grid gap-2 col-6 mx-auto">
        <%= f.submit text_btn, class: "btn btn-primary" %>
      </div>
    <% end %>
    <br>
    <br>
  </div>
</div>
