<div class="main">
  <div class="form-container">
    <h1 class="ms-2 me-2">Publicar</h1>
    <div class="form">
      <div class="form-body">
        <!-- Railsのform_withヘルパーを使用してフォームを生成 -->
        <%= form_with(model: service, local: true, html: { class: 'needs-validation' }) do |f| %>
          <!-- タイトル入力に関するエラーメッセージを表示 -->
          <% @service.errors.full_messages_for(:title).each do |message| %>
            <div class="alert alert-danger">
              <%= message %>
            </div>
          <% end %>
          <!-- 詳細入力に関するエラーメッセージを表示 -->
          <% @service.errors.full_messages_for(:detail).each do |message| %>
            <div class="alert alert-danger">
              <%= message %>
            </div>
          <% end %>
          <!-- タイトル入力フィールド -->
          <div class="mb-3">
            <%= f.label :title, 'Título', class: 'form-label' %>
            <%= f.text_field :title, value: @service.title, class: 'form-control', required: true %>
            <div class="invalid-feedback">Por favor, ingresa un título.</div>
          </div>
          <!-- 画像アップロードフィールド -->
          <div class="mb-3">
            <%= f.label :image, 'Imagen', class: 'form-label' %>
            <% if @service.image.attached? %>
              <%= f.file_field :image, class: 'form-control' %>
            <% else %>
              <%= f.file_field :image, class: 'form-control', required: true %>
              <div class="invalid-feedback">Por favor, selecciona una imagen.</div>
            <% end %>
          </div>
          <!-- カテゴリ選択ドロップダウン -->
          <div class="mb-3">
            <%= f.label :category_id, class: 'form-label' %>
            <%= f.select :category_id, options_for_select(Category.all.map{|category| [category.name, category.id]}, @service.category_id), { include_blank: 'Por favor, elija de la siguiente lista' }, { class: 'form-select', required: @service.category_id.nil? } %>
            <div class="invalid-feedback">Por favor, selecciona una categoría.</div>
          </div>
          <!-- 詳細テキストエリア -->
          <div class="mb-3">
            <%= f.label :detail, 'Detalle', class: 'form-label' %>
            <%= f.text_area :detail, value: @service.detail, class: 'form-control', required: true, rows: 5 %>
            <div class="invalid-feedback">Por favor, proporciona un detalle.</div>
          </div>
          <!-- 提出ボタン -->
          <div class="d-grid gap-2 col-6">
            <%= f.submit text_btn, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
