    <div id='services'>
      <% services.each do |service| %>
          <%= link_to service_path(service) do %>
            <div class="posts-index-item">
              <div class="post-left">
                <% if service.image.attached? %>
                  <%= image_tag(service.image) %>
                <% else %>
                  <%= image_tag('default_service.jpg') %>
                <% end %>
                </div>
                <div class="post-right">
                  <div style="display: flex; justify-content: space-between;">
                    <h4><%= service.title.truncate(40) %></h4>
                  </div>
                  <div style="display: flex; justify-content: space-between;">
                      <span><%= service.user.name %></span>
                  </div>
                  <div style="display: flex; justify-content: space-between;">
                    <span><%= service.category.name %></span>
                  </div>
                  <div style="display: flex; justify-content: space-between;">
                    <div class="star">
                      <% reviews = service.reviews %>
                      <% if reviews.present? %>
                        <% average_rating = calculate_average_rating(reviews) %>
                        <%= "⭐️" %> <%= sprintf('%.2f', average_rating) %>
                      <% else %>
                        <h5> -- </h5>
                      <% end %>
                    </div>
                  </div>
                </div>
            </div>
          <% end %>
      <% end %>
      <%= paginate services %>
    </div>
