<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">Editar</h1>
    <%= form_for(@service, url: service_path(@service), html: {multipart: true}, method: :patch) do |f| %>
      <div class="form">
        <div class="form-body">
          <% @service.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>

          <h2>Servicio</h2>
          <div class="field">
            <%= f.label :title %><br/>
            <%= f.text_field :title, value: @service.title %>
          </div>

          <div class="field">
            <%= f.label :image %><br/>
            <%= f.file_field :image %>
          </div>

          <div class="field">
            <%= f.label :category %><br/>
            <%= f.select :category, options_for_select([
              ['Por favor, elija de la siguiente lista', '', {disabled: true, selected: true}],
              ['Ilustración & Cómics', 'Ilustración & Cómics'],
              ['Diseño', 'Diseño'],
              ['Creación de sitios web & Diseño web', 'Creación de sitios web & Diseño web'],
              ['Video, Animación & Filmación', 'Video, Animación & Filmación'],
              ['Marketing & Atracción web', 'Marketing & Atracción web'],
              ['Música & Narración', 'Música & Narración'],
              ['Escritura & Traducción', 'Escritura & Traducción'],
              ['Representación de negocios, Consultoría & Servicios profesionales', 'Representación de negocios, Consultoría & Servicios profesionales'],
              ['IT, Programación & Desarrollo', 'IT, Programación & Desarrollo'],
              ['Adivinación', 'Adivinación'],
              ['Consejería, Consejos de amor & Compañía', 'Consejería, Consejos de amor & Compañía'],
              ['Aprendizaje, Búsqueda de empleo, Certificación & Coaching', 'Aprendizaje, Búsqueda de empleo, Certificación & Coaching'],
              ['Vivienda, Belleza, Estilo de vida & Pasatiempos', 'Vivienda, Belleza, Estilo de vida & Pasatiempos'],
              ['Lecciones en línea & Consejos', 'Lecciones en línea & Consejos'],
              ['Dinero, Trabajos secundarios & Marketing de afiliados', 'Dinero, Trabajos secundarios & Marketing de afiliados']
            ], selected: @service.category), {} %>
          </div>

          <div class="field">
            <%= f.label :detail %><br/>
            <%= f.text_area :detail, value: @service.detail %>
          </div>
        </div>
      </div>
<br>
      <div class="form">
        <div class="form-body">
          <h2>Plans</h2>
          <%= f.fields_for :plans do |plan_form| %>
            <% plan = plan_form.object %>
            <% plan.errors.full_messages.each do |message| %>
              <div class="form-error">
                <%= message %>
              </div>
            <% end %>

            <div class="field">
              <%= plan_form.label :title, "Plan Title" %><br/>
              <%= plan_form.text_field :title %>
            </div>

            <div class="field">
              <%= plan_form.label :delivery_method, "Delivery Method" %><br/>
              <%= plan_form.select :delivery_method, [
                ['Por favor, elija de la siguiente lista', '', {disabled: true, selected: true}],
                ['Videollamada', 'Videollamada'],
                ['Chat', 'Chat']
              ] %>
            </div>

            <div class="field">
              <%= plan_form.label :price, "Plan Price" %><br/>
              <%= plan_form.number_field :price, step: "0.01" %>
            </div>

            <div class="field">
              <%= plan_form.label :detail, "Plan Detail" %><br/>
              <%= plan_form.text_area :detail %>
            </div>
          <% end %>
        </div>
      </div>
<br>
      <div class="form">
        <div class="form-body">
          <%= f.submit "Guardar" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
