<div class="main">
  <div class="container">
    <h1 class="mb-4">Servicios</h1>
    <%= form_with(url: filter_services_path, method: :post, class: "row g-3") do |f| %>
      <div class="col-md-6">
        <%= f.select :category_id, options_for_select(Category.all.map{|category| [category.name, category.id]}), { prompt: 'Todas categorías' }, class: "form-select" %>
      </div>
      <div class="col-md-4">
        <%= f.text_field :keyword, placeholder: "Palabra clave", class: "form-control" %>
      </div>
      <div class="col-md-2">
        <%= f.submit 'Buscar', class: 'btn btn-primary w-100' %>
      </div>
    <% end %>
    <div class="mt-4">
      <%= render 'services' , services: @services %>
    </div>
  </div>
</div>
