<div class="main posts-index">
  <div class="container">
    <h1 class="form-heading">Servicios</h1>

    <%= form_with(scope: :services, url: filter_services_path, method: :post ) do |f| %>
      <div class="field">
        <%= f.label :category_id %><br/>
        <%= f.select :category_id, options_for_select(Category.all.map{|category| [category.name, category.id]}), { prompt: 'Por favor, elija de la siguiente lista' } %>
      </div>
      <%= f.submit 'Buscar' %><br/>
    <% end %>

    <%= render 'services' , services: @services %>
  </div>
</div>
