<div class="main">
  <div class="container">
    <h1>Servicios</h1>
    <%= form_with(url: filter_services_path, method: :post ) do |f| %>
      <div class="field">
        <%= f.select :category_id, options_for_select(Category.all.map{|category| [category.name, category.id]}), { prompt: 'Todas categorías' } %>
      </div>
      <div class="field">
        <%= f.text_field :keyword, placeholder: "Palabra clave" %>
      </div>
      <%= f.submit 'Buscar', class: 'btn btn-primary' %><br/>
    <% end %>
    <br>
    <%= render 'services' , services: @services %>
  </div>
</div>
