<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">Publicar</h1>
    <%= form_for(@service, url: services_path, html: {multipart: true}) do |f| %>
      <h3>Servicio</h3>
      <div class="form">
        <div class="form-body">
          <% @service.errors.full_messages_for(:title).each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <% @service.errors.full_messages_for(:detail).each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <% @service.errors.full_messages_for(:category).each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>

          <div class="field">
            <%= f.label :title, 'Título'  %><br/>
            <%= f.text_field :title, value: @service.title %>
          </div>

          <div class="field">
            <%= f.label :image, 'Imagen' %><br/>
            <%= f.file_field :image %>
          </div>

          <div class="field">
            <%= f.label :category %><br/>
            <%= f.select :category, options_for_select(Category.pluck(:name).prepend(['Por favor, elija de la siguiente lista', '', {disabled: true, selected: true}]), selected: @service.category), {} %>
          </div>

          <div class="field">
            <%= f.label :detail, 'Detalle' %><br/>
            <%= f.text_area :detail, value: @service.detail %>
          </div>
        </div>
      </div>
      <br>
      <h3>Planes</h3>
      <div class="form" id="plans">
        <% if @service.errors.full_messages_for(:plans).any? %>
          <div class="form-error-body">
            <% @service.errors.full_messages_for(:plans).each do |message| %>
              <div class="form-error">
                <%= message %>
              </div>
            <% end %>
          </div>
        <% end %>
          <%= f.fields_for :plans do |plan_form| %>
            <%= render "plans/form", {form: plan_form} %>
          <% end %>
      </div>
      <br>
        <%= f.submit "Añadir plan",
          formaction: plan_path(@service.plans.size),
          formmethod: :post,
          formnovalidate: true,
          id: "add-plan",
          class: "button-003" %>
      <br>
      <%= f.submit "Publicar", class: "buttons__main" %>
    <% end %>
    <br>
    <br>
  </div>
</div>
