<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <%# <img src="<%= "/user_images/#{current_user.profile_image}" %>
        <%= link_to(@service.user.name, user_path(@service.user)) %>
      </div>
        <% if current_user && @service.title != "no encontrado" && @service.user_id != current_user.id %>
        <a href="https://wa.me/4423831033" target="_blank" class="small-whatsapp-button">
          <i class="fab fa-whatsapp fa-1x" ></i>
          Contactar
        </a>
        <% end %>
    </div>
      <br>

    <div class="posts-show-item">
      <li style="margin-left: 15px;">

        <% if current_user && @service.user_id == current_user.id %>
          <div class="post-menus">
            <%= link_to("Editar", edit_service_path(@service)) %>
            <%= button_to "Eliminar", service_path(@service), method: :delete, data: { confirm: "¿Estás seguro de que deseas eliminar este servicio?" } %>
          </div>
        <% end %>
      </li>

      <br>

      <div class="flex-container">
        <h2><%= @service.title %></h2>
      </div>
      <div class="flex-container" >
        <div class="star">
          <% if @reviews.present? %>
            <div class="average-rating">
              <h5>
                <% average_rating = (calculate_average_rating(@reviews) * 10).ceil / 10.0 %>
                <%= "⭐️" * average_rating.round %> (<%= average_rating %>)
              </h5>
            </div>
          <% else %>
            <h5> -- </h5>
          <% end %>
        </div>
        <div class="like-button">
          <% if current_user %>
            <% existing_like = Like.find_by(user_id: current_user.id, service_id: @service.id) %>
            <% if existing_like %>
              <%= button_to like_path(service_id: @service.id), method: :delete do %>
                <span class="fa fa-heart liked-btn"></span>
              <% end %>
            <% else %>
              <%= button_to likes_path(service_id: @service.id), method: :post do %>
                <span class="fa fa-heart unliked-btn"></span>
              <% end %>
            <% end %>
          <% else %>
            <span class="fa fa-heart unliked-btn"></span>
          <% end %>
        </div>
      </div>
      <p>
        <h5>ID de Servicio</h5>
        <%= @service.id %>
      </p>

      <p>
      <div class="service-image">
        <img id="service-image" src="<%= "/service_images/#{@service.image}" %> ">
      </div>
      </p>
      <p>
        <h5>Categoría</h5>
        <%= @service.category %>
      </p>
      <p>
        <h5>Detalles</h5>
        <%= @service.detail %>
      </p>
    </div>
<br>
      <h5>Planes asociados:</h5>
      <% @service.plans.each do |plan| %>
        <div class="posts-show-item">
          <div class="plan-details">
            <p>Plan Title: <%= plan.title %></p>
            <p>Delivery Method: <%= plan.delivery_method %></p>
            <p>Price: <%= plan.price %> MXN</p>
            <p>Detail: <%= plan.detail %></p>

            <% if current_user && @service.title != "no encontrado" && @service.user_id != current_user.id %>
              <%= link_to "Seleccionar y Hacer el pedido", new_order_path(plan_id: plan.id, buyer_id: current_user.id, seller_id: @service.user_id), class: "button-001" %>
            <% elsif current_user && @service.user_id == current_user.id %>
              <!-- No puedes comprar tu propio servicio. -->
            <% else %>
              <%= link_to "Hacer el pedido", new_user_session_path(flash_alert: 'Por favor, inicia sesión'), class: "buttons__main" %>
            <% end %>
          </div>
        </div>
      <% end %>
<br>
    <h1 class="form-heading">Evaluación</h1>
    <% @reviews.each do |review| %>
      <div class="posts-index-item">
        <div class="post-left">
          <%# <% if user.present? && user.profile_image.present? %>
            <%# <img src="<%= "/user_images/#{user.profile_image}" %>
           <%#<% else %>
            <%# <img src="<%= "default_user.jpg" %>
          <%# <% end %>
        </div>
        <div class="post-right">
          <% if review.rating.present? %>
            <h4>
              <%= "⭐️" * review.rating %>
            </h4>
          <% end %>
          <p><%= review.comment %></p>
          <div style="display: flex; justify-content: space-between;">
            <% if review.user.present? && review.user.name.present? %>
              <p><%= review.user.name %></p>
            <% else %>
              <p>Usuario dado de baja</p>
            <% end %>
            <p>Fecha: <%= review.created_at.strftime("%d/%m/%Y") %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
