<div class="main posts-show">
  <div class="container">
    <h3>Vendedor/a</h3>
    <div class="posts-index-item">
      <div style="display: flex; justify-content: flex-end;">
        <% average_rating = @user.average_service_rating %>
        <% if average_rating.present? %>
          <div class="average-rating">
            <p><%= "⭐️" %> <%= sprintf('%.2f', average_rating) %></p>
          </div>
        <% else %>
          <p> -- </p>
        <% end %>
      </div>
      <div class="post-user-name">
        <% if @user.image.attached? %>
          <%= image_tag(@user.image) %>
        <% else %>
          <%= image_tag('default_user.jpg') %>
        <% end %>
        <%= link_to(@service.user.name, user_path(@service.user)) %>
      </div>
    </div>
    <br>
    <h3>Servicio</h3>
    <div class="posts-show-item">
      <% if current_user && @service.user_id == current_user.id %>
        <div class="post-menus">
          <%= button_to edit_service_path(@service), method: :get do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
          <% if !@service.deletion_at %>
            <%= button_to service_path(@service), method: :delete, form: { data: { turbo_confirm: "¿Estás seguro de que deseas eliminar este servicio?" }} do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <div class="flex-container">
        <h3><%= @service.title %></h3>
      </div>
      <br>
      <div style="display: flex; justify-content: space-between;">
        <div class="star">
          <% if @reviews.present? %>
            <div class="average-rating">
              <% average_rating = calculate_average_rating(@reviews) %>
              <p><%= "⭐️" %> <%= sprintf('%.2f', average_rating) %></p>
            </div>
          <% else %>
            <h5> -- </h5>
          <% end %>
        </div>
        <div class="like-button">
          <% if current_user %>
            <% existing_like = Like.find_by(user_id: current_user.id, service_id: @service.id) %>
            <% if existing_like %>
              <%= button_to like_path(service_id: @service.id), method: :delete do %>
                <span class="fa fa-heart liked-btn"></span>
              <% end %>
            <% else %>
              <%= button_to likes_path(service_id: @service.id), method: :post do %>
                <span class="fa fa-heart unliked-btn"></span>
              <% end %>
            <% end %>
          <% else %>
            <span class="fa fa-heart unliked-btn"></span>
          <% end %>
        </div>
      </div>
      <div style="display: flex; justify-content: space-between;">
        <%= @service.category %>
      </div>
      <br>
      <div class="service-image">
        <% if @service.image.attached? %>
          <%= image_tag(@service.image, class: "service-image") %>
        <% else %>
          <%= image_tag('default_service.jpg', class: "service-image") %>
        <% end %>
      </div>
      <br>
      <p><%= simple_format(@service.detail) %></p>
    </div>
    <br>

    <h3>Planes</h3>
    <% if @service.plans.any? %>
      <% first_plan = @service.plans.first %>

      <div class="plans-container">
        <% @service.plans.each do |plan| %>
          <%= button_to plan_path(plan), method: :get, data: { turbo_frame: 'plan_detail' }, class: "plan-card-btn" do %>
            <h4><%= plan.title.truncate(40)  %></h4>
            <p><%= plan.price %> MXN</p>
          <% end %>
        <% end %>
      </div>

      <br>
      <%= turbo_frame_tag 'plan_detail' do %>
        <div class="posts-show-item">
          <div class="plan-details">
            <h3><%= first_plan.title %></h3>
            <div style="display: flex; justify-content: space-between;">
              <%= first_plan.delivery_method %> / <%= first_plan.price %> MXN
            </div>
            <%= simple_format(first_plan.detail) %>
            <br>
            <% if current_user && @service.title != "no encontrado" && @service.user_id != current_user.id %>
              <%= link_to "Hacer el pedido", new_order_path(plan_id: first_plan.id, buyer_id: current_user.id, seller_id: @service.user_id), class: "buttons__main", data: { turbo_frame: '_top'} %>
            <% elsif current_user && @service.user_id == current_user.id %>
              <%= link_to "Hacer el pedido", new_order_path(plan_id: first_plan.id, buyer_id: current_user.id, seller_id: @service.user_id), class: "buttons__main", data: { turbo_frame: '_top'} %>
            <% else %>
              <%= link_to "Hacer el pedido", new_user_session_path(flash_alert: 'Por favor, inicia sesión'), class: "buttons__main", data: { turbo_frame: '_top'} %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% else %>
        <p>No hay planes agregados actualmente</p>
    <% end %>

    <br>
    <h3>Evaluación</h3>
    <% @reviews.each do |review| %>
      <div class="posts-index-item">
        <div class="post-left">
          <% if review.user && review.user.image.attached? %>
            <%= image_tag(review.user.image) %>
          <% else %>
            <%= image_tag('default_user.jpg') %>
          <% end %>
        </div>

        <div class="post-right">
          <% if review.rating.present? %>
            <h4><%= "⭐️" * review.rating %></h4>
          <% end %>
          <div style="display: flex; justify-content: space-between;">
            <% if review.user.present? && review.user.name.present? %>
              <p style="font-size: 14px;"><%= review.user.name %></p>
            <% else %>
              <p style="font-size: 14px;">Usuario dado de baja</p>
            <% end %>
          </div>
          <div style="display: flex;">
            <p style="font-size: 12px;">Creación: <%= review.created_at.strftime("%d/%m/%Y %H:%M") %>,</p>
            <p style="font-size: 12px; margin-left: 10px;">Actualización: <%= review.updated_at.strftime("%d/%m/%Y %H:%M") %></p>
          </div>
          <p><%= review.comment %></p>
        </div>
      </div>
    <% end %>
    <%= paginate @reviews %>
  </div>
</div>
