<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-8 col-12 order-1 order-md-1 mt-5">
        <div class="service-show-item">
          <!-- 編集と削除ボタン。サービスの所有者のみがこれらのアクションを行える -->
          <div class="flex-end">
            <% if current_user && @service.user_id == current_user.id %>
              <%= button_to edit_service_path(@service), method: :get, class: "btn btn-primary btn-sm me-2" do %>
                <i class="fa-solid fa-pen-to-square"></i> Editar
              <% end %>
              <%= button_to service_path(@service), method: :delete, class: "btn btn-danger btn-sm", form: { data: { turbo_confirm: "¿Estás seguro de que deseas eliminar este servicio?" }} do %>
                <i class="fa-solid fa-trash"></i> Eliminar
              <% end %>
            <% end %>
          </div>
          <!-- サービスのタイトル -->
          <h1 class="main-title mt-3"><%= @service.title %></h1>
          <!-- サービスの平均評価 -->
          <div class="flex-space-between">
            <div class="star">
              <% if @reviews.present? %>
                <div class="average-rating">
                  <p><%= "⭐️" %> <%= sprintf('%.2f', @service.average_rating) %></p>
                </div>
              <% else %>
                --
              <% end %>
            </div>
            <!-- いいねボタン -->
            <div class="like-button">
              <% if current_user %>
                <!-- 現在のユーザーが既にいいねしているかどうかに応じて、いいねまたはいいね解除ボタンを表示 -->
                <% if @user_has_liked %>
                  <%= button_to like_path(service_id: @service.id), method: :delete do %>
                    <span class="fa fa-heart liked-btn"></span>
                  <% end %>
                <% else %>
                  <%= button_to likes_path(service_id: @service.id), method: :post do %>
                    <span class="fa fa-heart unliked-btn"></span>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
          <!-- サービスカテゴリと画像 -->
          <div class="mb-1"><%= @service.category&.name || "" %></div>
          <div class="service-image">
            <% if @service.image.attached? %>
              <%= image_tag(@service.image, class: "service-image") %>
            <% else %>
              <%= image_tag('default_service.jpg', class: "service-image") %>
            <% end %>
          </div>
           <!-- サービスの詳細説明 -->
          <p><%= simple_format(h(@service.detail)) %></p>
        </div>
        <!-- サービス注文ボタン -->
        <div class="d-grid gap-2 col-10 mx-auto">
          <%= link_to "Hacer el pedido", new_order_path(seller_id: @service.user_id, service_id: @service.id, buyer_id: current_user&.id), class: "btn btn-primary btn-lg" %>
        </div>
        <!-- レビューのサブタイトル -->
        <h2 class="sub-title mt-5 mb-4">Evaluación</h2>
        <!-- レビューリスト -->
        <% if @reviews.any? %>
          <div class="row">
            <% @reviews.each do |review| %>
              <!-- レビューカード -->
              <div class="col-12 mb-4">
                <div class="card full-width">
                  <div class="card-body">
                    <div class="flex-grow-1">
                      <div class="d-flex align-items-center mt-2">
                        <!-- レビューユーザーの画像 -->
                        <% if review.user.deleted? %>
                          <%= image_tag('default_user.jpg', class: "rounded-circle mr-3 small-image") %>
                        <% elsif review.user.image.attached? %>
                          <%= image_tag(review.user.image, class: "rounded-circle mr-3 small-image") %>
                        <% else %>
                          <%= image_tag('default_user.jpg', class: "rounded-circle mr-3 small-image") %>
                        <% end %>
                        <!-- レビューの評価 -->
                        <% if review.rating.present? %>
                          <div class="ms-2"><%= "⭐️" * review.rating %></div>
                        <% end %>
                      </div>
                      <!-- レビューユーザーの名前または退会状態 -->
                      <% if review.user.deleted? %>
                        <p class="font-weight-bold mt-2 mb-0">Comprador/a: Dado de baja</p>
                      <% else %>
                        <p class="font-weight-bold mt-2 mb-0">Comprador/a: <%= review.user.name %></p>
                      <% end %>
                      <!-- レビューユーザーの名前または退会状態 -->
                      <div class="d-flex justify-content-start mt-2 small-text">
                        <div class="me-2">Creación: <%= review.created_at.strftime("%d/%m/%Y %H:%M") %></div>
                        <div class>Actualización: <%= review.updated_at.strftime("%d/%m/%Y %H:%M") %></div>
                      </div>
                      <!-- レビューコメント -->
                      <p><%= simple_format(h(review.comment)) %></p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <!-- データベースのデータがページに収まりきらない時に、それを分割して、複数ページにする -->
          <%= paginate @reviews %>
        <% else %>
          <!-- レビューがない場合のメッセージ -->
          <p>No hay evaluaciones.</p>
        <% end %>
      </div>
      <!-- サービス提供者プロフィールカラム -->
      <div class="col-lg-3 col-md-4 col-12 order-2 order-md-1 mb-5 mt-5">
        <%= link_to user_path(@service.user), class: 'text-decoration-none text-dark' do %>
          <div class="card">
            <div class="card-body text-center">
              <!-- サービス提供者の画像 -->
              <% if @service.user.image.attached? %>
                <%= image_tag(@service.user.image, class: 'rounded-circle mx-auto d-block mediam-image-container') %>
              <% else %>
                <%= image_tag('default_user.jpg', class: 'rounded-circle mx-auto d-block mediam-image-container') %>
              <% end %>
              <!-- サービス提供者の名前と平均評価 -->
              <p class="card-title mt-3 mb-1"><%= @service.user.name %></p>
              <% if @service.average_rating > 0 %>
                <p class="mb-0"><%= "⭐️" %> <%= sprintf('%.2f', @service.average_rating) %></p>
              <% else %>
                <p class="mb-0"> -- </p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
