<div class="main">
  <div class="container">
    <div class="row">

      <div class="col-lg-7 col-md-8 col-12 order-1 order-md-1 mt-5">
        <div class="service-show-item">
          <div style="display: flex; justify-content: flex-end;">
            <% if current_user && @service.user_id == current_user.id %>
              <%# 完了 %><%# [優先度: 中] インデントずれ %>
              <%= button_to edit_service_path(@service), method: :get, class: "btn btn-primary btn-sm me-2" do %>
                  <i class="fa-solid fa-pen-to-square"></i> Editar
              <% end %>
              <%= button_to service_path(@service), method: :delete, class: "btn btn-danger btn-sm", form: { data: { turbo_confirm: "¿Estás seguro de que deseas eliminar este servicio?" }} do %>
                  <i class="fa-solid fa-trash"></i> Eliminar
              <% end %>
            <% end %>
          </div>
          <%# 完了 %><%# [優先度: 中] インデントずれ %>
          <h3 class="mt-3" style="word-wrap: break-word; overflow-wrap: break-word;"><%= @service.title %></h3>
          <%# 未対応 %><%# [優先度: 中] 極力インラインスタイルは避けてください %>
          <div style="display: flex; justify-content: space-between;">
            <div class="star">
              <% if @reviews.present? %>
                <div class="average-rating">
                  <p><%= "⭐️" %> <%= sprintf('%.2f', @service.average_rating) %></p>
                </div>
              <% else %>
                --
              <% end %>
            </div>
            <div class="like-button">
              <% if current_user %>
                <%# 完了 %><%# [優先度: 中] Like.user_and_serviceの呼び出しは見た目の構成ではなく、データの取得処理なので、controllerに移動してください %>
                <% if @user_has_liked %>
                  <%= button_to like_path(service_id: @service.id), method: :delete do %>
                    <span class="fa fa-heart liked-btn"></span>
                  <% end %>
                <% else %>
                  <%= button_to likes_path(service_id: @service.id), method: :post do %>
                    <span class="fa fa-heart unliked-btn"></span>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
          <%# 未対応 %><%# [優先度: 中] 極力インラインスタイルは避けてください %>
          <div style="display: flex; justify-content: space-between;">
            <%= @service.category&.name || "" %>
          </div>
          <br>
          <div class="service-image">
            <% if @service.image.attached? %>
              <%= image_tag(@service.image, class: "service-image") %>
            <% else %>
              <%= image_tag('default_service.jpg', class: "service-image") %>
            <% end %>
          </div>
          <%# 完了 %><%# [情報] 今後の拡張によってはXSSにつながるため気を付けてください。現状は問題ないです。 %>
          <p><%= simple_format(h(@service.detail)) %></p>
        </div>

        <div class="d-grid gap-2 col-10 mx-auto">
          <%= link_to "Hacer el pedido", new_order_path(seller_id: @service.user_id, service_id: @service.id, buyer_id: current_user&.id), class: "btn btn-primary btn-lg" %>
        </div>

        <h3 class="mt-5 mb-4">Evaluación</h3>
          <% if @reviews.any? %>
          <div class="row">
            <% @reviews.each do |review| %>
              <div class="col-12 mb-4">
                <%# 未対応 %><%# [優先度: 中] 極力インラインスタイルは避けてください %>
                <div class="card" style="width: 100%;">
                  <div class="card-body">
                    <div class="flex-grow-1 mt-3" style="margin-left: 10px;">

                      <%# 未対応 %><%# [優先度: 低] hタグはh1から順に使います。基本的にh2を飛ばしてh3を使うなどはしません。文字サイズは見出しの番号ではなくスタイルで制御してください。 %>
                      <h5 style="margin-top: 10px; word-wrap: break-word; overflow-wrap: break-word;">
                        <%= link_to "Servicio: #{review&.service&.title}", service_path(review&.service), class: "link-class-name link-text" %>
                      </h5>

                      <div class="d-flex align-items-center mt-2">
                        <% if review.user.image.attached? %>
                          <%= image_tag(review.user.image, class: "rounded-circle mr-3", style: "width: 40px; height: 40px;") %>
                        <% else %>
                          <%= image_tag('default_user.jpg', class: "rounded-circle mr-3", style: "width: 40px; height: 40px;") %>
                        <% end %>
                        <% if review.rating.present? %>
                          <div class="ms-2"><%= "⭐️" * review.rating %></div>
                        <% end %>
                      </div>
                      <%# 完了 %><%# [優先度: 低] `review.user.name || "Usuario dado de baja"`とするとif文不要になります %>
                      <p class="font-weight-bold mt-2 mb-0">Comprador/a: <%= review.user.name || "Dado de baja" %></p>
                      <%# 未対応 %><%# [優先度: 中] 極力インラインスタイルは避けてください %>
                      <div class="d-flex justify-content-start mt-2" style="font-size: 12px;">
                        <div style="margin-right: 10px;">Creación: <%= review.created_at.strftime("%d/%m/%Y %H:%M") %></div>
                        <div style="margin-bottom: 10px;">Actualización: <%= review.updated_at.strftime("%d/%m/%Y %H:%M") %></div>
                      </div>
                      <p><%= simple_format(h(review.comment)) %></p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <%= paginate @reviews %>
        <% else %>
          <p>No hay evaluaciones.</p>
        <% end %>
      </div>

      <div class="col-lg-3 col-md-4 col-12 order-2 order-md-1 mb-5 mt-5">
        <%# 完了 %><%# [優先度: 中] インデントずれ %>
        <%= link_to user_path(@service.user), class: 'text-decoration-none text-dark' do %>
          <div class="card">
            <div class="card-body text-center">
              <% if @service.user.image.attached? %>
                <%= image_tag(@service.user.image, class: 'rounded-circle mx-auto d-block', style: 'width:100px; height:100px;') %>
              <% else %>
                <%= image_tag('default_user.jpg', class: 'rounded-circle mx-auto d-block', style: 'width:100px; height:100px;') %>
              <% end %>
              <%# 未対応 %><%# [優先度: 低] hタグはh1から順に使います。基本的にh2を飛ばしてh3を使うなどはしません。文字サイズは見出しの番号ではなくスタイルで制御してください。 %>
              <h6 class="mt-3 mb-1">
                  <%= @service.user.name %>
              </h6>
              <% if @service.average_rating > 0 %>
                <p class="mb-0"><%= "⭐️" %> <%= sprintf('%.2f', @service.average_rating) %></p>
              <% else %>
                <p class="mb-0"> -- </p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
