<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <img src="<%= "/user_images/#{@user.profile_image}" %>">
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <br>

      <li style="margin-left: 15px;">
        <% if @current_user && @service.user_id != @current_user.id %>
        <a href="https://wa.me/4423831033" target="_blank" class="whatsapp-button">
          <i class="fab fa-whatsapp fa-2x" style="margin-right: 5px;"></i>
          Consultar / Preguntar / Reportar
        </a>
          <%= link_to "Hacer el pedido", new_order_path(service_id: @service.id, buyer_id: @current_user.id, seller_id: @service.user_id), class: "buttons__main" %>
        <% elsif @current_user && @service.user_id == @current_user.id %>
          <!-- No puedes comprar tu propio servicio. -->
        <% else %>
          <%= link_to "Hacer el pedido", login_path(flash_alert: 'Por favor, inicia sesión'), class: "buttons__main" %>
        <% end %>

        <% if @current_user && @service.user_id == @current_user.id %>
          <div class="post-menus">
            <%= link_to("Editar", "/services/#{@service.id}/edit") %>
            <%= link_to("Eliminar", "/services/#{@service.id}/destroy", method: "post", data: { confirm: "¿Estás seguro de que deseas eliminar este servicio?" }) %>
          </div>
        <% end %>
      </li>

      <br>

      <div class="flex-container">
        <h2><%= @service.title %></h2>
      </div>
      <div class="flex-container" >
        <div class="star">
          <% if @service.service_reviews.present? %>
            <div class="average-rating">
              <h5>
                Evaluaciones:<%= render_stars(calculate_average_rating(@service.service_reviews)) %>
                (<%= sprintf('%.2f', calculate_average_rating(@service.service_reviews)) %>)
              </h5>
            </div>
          <% else %>
            <h5>Evaluaciones: -- </h5>
          <% end %>
        </div>
        <div class="like-button">
          <% if @current_user %>
              <% if Like.find_by(user_id: @current_user.id, service_id: @service.id) %>
                  <%= link_to("/likes/#{@service.id}/destroy", {method: "post"}) do %>
                      <span class="fa fa-heart liked-btn"></span>
                  <% end %>
              <% else %>
                  <%= link_to("/likes/#{@service.id}/create", {method: "post"}) do %>
                      <span class="fa fa-heart unliked-btn"></span>
                  <% end %>
              <% end %>
          <% else %>
            <span class="fa fa-heart liked-btn"></span>
          <% end %>
          <%= @likes_count %>
        </div>
      </div>
      <p>
        <h5>ID de Servicio</h5>
        <%= @service.id %>
      </p>

      <p>
      <div class="service-image">
        <img id="service-image" src="<%= "/service_images/#{@service.image}" %> ">
      </div>
      </p>
      <p>
        <h5>Categoría</h5>
        <%= @service.category %>
      </p>
      <p>
        <h5>Tiempo de servicio</h5>
        <%= @service.service_time %> minuto(s)
      </p>
      <p>
        <h5>Precio</h5>
        $<%= number_with_delimiter(@service.price) %> MXN
      </p>
      <p>
        <h5>Método de provisión</h5>
        <%= JSON.parse(@service.delivery_method).join(", ") %>
      <p>
      <p>
        <h5>Detalles</h5>
        <%= @service.detail %>
      </p>
    </div>
    <h1 class="form-heading">Evaluación</h1>
    <% @service.service_reviews.each do |review| %>
      <div class="posts-index-item">
        <div class="post-left">
          <% user = review.user %>
          <% if user.present? && user.profile_image.present? %>
            <img src="<%= "/user_images/#{user.profile_image}" %>">
          <% else %>
            <img src="<%= "default_user.jpg" %>">
          <% end %>
        </div>
        <div class="post-right">
          <% if review.rating.present? %>
            <h4>
              <%= "⭐️" * review.rating %>
            </h4>
          <% end %>
          <p><%= review.comment %></p>
          <% if user.present? && user.name.present? %>
            <p><%= user.name %></p>
          <% else %>
            <p>Usuario dado de baja</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
