<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <img src="<%= "/user_images/#{@user.profile_image}" %>">
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <br>
      <li style="margin-left: 15px;">
          <a href="https://wa.me/4423831033" target="_blank" style="color: #25D366; display: flex; align-items: center;">
              <i class="fab fa-whatsapp fa-2x" style="margin-right: 5px;"></i>
              Hacer un pedido / Consultar / Preguntar
          </a>
      </li>

      <% if @current_user && @service.user_id == @current_user.id %>
        <div class="post-menus">
          <%= link_to("Editar", "/services/#{@service.id}/edit") %>
          <%= link_to("Eliminar", "/services/#{@service.id}/destroy", {method: "post", confirm: "¿Estás seguro de que deseas eliminar este servicio?"}) %>
        </div>
      <% end %>

      <br>

      <div class="flex-container">
        <h2><%= @service.title %></h2>
        <div class="like-button">
          <% if @current_user %>
              <% if Like.find_by(user_id: @current_user.id, service_id: @service.id) %>
                  <%= link_to("/likes/#{@service.id}/destroy", {method: "post"}) do %>
                      <span class="fa fa-heart liked-btn"></span>
                  <% end %>
              <% else %>
                  <%= link_to("/likes/#{@service.id}/create", {method: "post"}) do %>
                      <span class="fa fa-heart unliked-btn"></span>
                  <% end %>
              <% end %>
          <% else %>
              <span class="fa fa-heart liked-btn"></span>
          <% end %>
          <%= @likes_count %>
        </div>
      </div>

      <p>
        <h5>ID de Servicio</h5>
        <%= @service.id %>
      </p>

      <p>
      <div class="service-image">
        <img id="service-image" src="<%= "/service_images/#{@service.image}" %> ">
      </div>
      </p>
      <p>
        <h5>Categoría</h5>
        <%= @service.category %>
      </p>
      <p>
        <h5>Tiempo de servicio</h5>
        <%= @service.service_time %> minuto(s)
      </p>
      <p>
        <h5>Precio</h5>
        $<%= number_with_delimiter(@service.price) %> MXN
      </p>
      <p>
        <h5>Método de provisión</h5>
        <%= JSON.parse(@service.delivery_method).join(", ") %>
      <p>
      <p>
        <h5>Detalles</h5>
        <%= @service.detail %>
      </p>
    </div>
  </div>
</div>
