<div class="main">
  <div class="container">
    <h3>Vendedor/a</h3>
    <div class="posts-index-item">
      <div style="display: flex; justify-content: flex-end;">
        <% if @service.average_rating > 0 %>
          <div class="average-rating">
            <p><%= "⭐️" %> <%= sprintf('%.2f', @service.average_rating) %></p>
          </div>
        <% else %>
          <p> -- </p>
        <% end %>
      </div>
      <div class="post-user-name">
        <% if @service.user.image.attached? %>
          <%= image_tag(@service.user.image) %>
        <% else %>
          <%= image_tag('default_user.jpg') %>
        <% end %>
        <%= link_to(@service.user.name, user_path(@service.user)) %>
      </div>
    </div>
    <br>
    <h3>Servicio</h3>
    <div class="posts-show-item">
      <% if current_user && @service.user_id == current_user.id %>
        <div class="post-menus">
          <%= button_to edit_service_path(@service), method: :get do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
          <%= button_to service_path(@service), method: :delete, form: { data: { turbo_confirm: "¿Estás seguro de que deseas eliminar este servicio?" }} do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
      <% end %>

      <div class="flex-container">
        <h3><%= @service.title %></h3>
      </div>
      <br>
      <div style="display: flex; justify-content: space-between;">
        <div class="star">
          <% if @reviews.present? %>
            <div class="average-rating">
              <p><%= "⭐️" %> <%= sprintf('%.2f', calculate_average_rating(@reviews)) %></p>
            </div>
          <% else %>
            <h5> -- </h5>
          <% end %>
        </div>
        <div class="like-button">
          <% if current_user %>
            <% if Like.user_and_service(current_user.id, @service.id) %>
              <%= button_to like_path(service_id: @service.id), method: :delete do %>
                <span class="fa fa-heart liked-btn"></span>
              <% end %>
            <% else %>
              <%= button_to likes_path(service_id: @service.id), method: :post do %>
                <span class="fa fa-heart unliked-btn"></span>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div style="display: flex; justify-content: space-between;">
        <%= @service.category&.name || "" %>
      </div>
      <br>
      <div class="service-image">
        <% if @service.image.attached? %>
          <%= image_tag(@service.image, class: "service-image") %>
        <% else %>
          <%= image_tag('default_service.jpg', class: "service-image") %>
        <% end %>
      </div>
      <br>
      <h4>Detalle</h4>
      <p><%= simple_format(@service.detail) %></p>
    </div>
    <br>
    <div class="d-grid gap-2 col-6 mx-auto">
      <%= link_to "Hacer el pedido", new_order_path(seller_id: @service.user_id, service_id: @service.id, buyer_id: current_user&.id), class: "btn btn-primary" %>
    </div>
    <br>
    <h3>Evaluación</h3>
    <% @reviews.each do |review| %>
      <div class="posts-index-item">
        <div class="post-left">
          <% if review.user && review.user.image.attached? %>
            <%= image_tag(review.user.image) %>
          <% else %>
            <%= image_tag('default_user.jpg') %>
          <% end %>
        </div>

        <div class="post-right">
          <% if review.rating.present? %>
            <h4><%= "⭐️" * review.rating %></h4>
          <% end %>
          <div style="display: flex; justify-content: space-between;">
            <% if review.user.name.present? %>
              <p style="font-size: 14px;"><%= review.user.name %></p>
            <% else %>
              <p style="font-size: 14px;">Usuario dado de baja</p>
            <% end %>
          </div>
          <div style="display: flex;">
            <p style="font-size: 12px;">Creación: <%= review.created_at.strftime("%d/%m/%Y %H:%M") %>,</p>
            <p style="font-size: 12px; margin-left: 10px;">Actualización: <%= review.updated_at.strftime("%d/%m/%Y %H:%M") %></p>
          </div>
          <p><%= review.comment %></p>
        </div>
      </div>
    <% end %>
    <%= paginate @reviews %>
  </div>
</div>
