<div class="main posts-show">
  <div class="container">

    <div class="posts-user-item">
      <div class="post-user-name">
        <% if @user.image.attached? %>
          <%= image_tag(@user.image) %>
        <% else %>
          <%= image_tag('default_user.jpg') %>
        <% end %>
          <%= link_to(@service.user.name, user_path(@service.user)) %>
      </div>

      <div class="whatsapp" %>
        <% if current_user && @service.title != "no encontrado" && @service.user_id != current_user.id %>
        <a href="https://wa.me/4423831033" target="_blank" class="small-whatsapp-button">
          <i class="fab fa-whatsapp fa-1x" ></i>
          Contactar
        </a>
        <% end %>
      </div>

    </div>

      <br>
    <div class="posts-show-item">
      <li style="margin-left: 15px;">

        <% if current_user && @service.user_id == current_user.id %>
          <div class="post-menus">
            <%= link_to("Editar", edit_service_path(@service)) %>
            <%= button_to service_path(@service), method: :delete, form: {data: { turbo_confirm: "¿Estás seguro de que deseas eliminar este servicio?" }} do %>
              Eliminar <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>
        <% end %>
      </li>

      <br>

      <div class="flex-container">
        <h2><%= @service.title %></h2>
      </div>
      <div class="flex-container" >
        <div class="star">
          <% if @reviews.present? %>
            <div class="average-rating">
            <h5>
              <% average_rating = calculate_average_rating(@reviews) %>
              <%= "⭐️" * average_rating.round %> (<%= sprintf('%.2f', average_rating) %>)
            </h5>
            </div>
          <% else %>
            <h5> -- </h5>
          <% end %>
        </div>
        <div class="like-button">
          <% if current_user %>
            <% existing_like = Like.find_by(user_id: current_user.id, service_id: @service.id) %>
            <% if existing_like %>
              <%= button_to like_path(service_id: @service.id), method: :delete do %>
                <span class="fa fa-heart liked-btn"></span>
              <% end %>
            <% else %>
              <%= button_to likes_path(service_id: @service.id), method: :post do %>
                <span class="fa fa-heart unliked-btn"></span>
              <% end %>
            <% end %>
          <% else %>
            <span class="fa fa-heart unliked-btn"></span>
          <% end %>
        </div>
      </div>
      <p>
      <div class="service-image">
        <% if @service.image.attached? %>
          <%= image_tag(@service.image, class: "service-image") %>
        <% else %>
          <%= image_tag('default_service.jpg', class: "service-image") %>
        <% end %>
        </div>
      <p>
        <h5>Categoría</h5>
         <%= @service.category %>
      </p>
      <p>
        <h5>Detalles</h5>
        <%= @service.detail %>
      </p>
    </div>
<br>


      <h5>Planes</h5>
      <% @service.plans.each do |plan| %>
        <%= button_to plan_path(plan), method: :get, data: { turbo_frame: 'plan_detail' } do %>
          <%= plan.title %>
          <%= plan.price %> MXN
        <% end %>
      <% end %>
      <%= turbo_frame_tag 'plan_detail' %>

<br>
    <h1 class="form-heading">Evaluación</h1>
    <% @reviews.each do |review| %>
      <div class="posts-index-item">
        <div class="post-left">

          <% if review.user && review.user.image.attached? %>
            <%= image_tag(review.user.image) %>
          <% else %>
            <%= image_tag('default_user.jpg') %>
          <% end %>

        </div>

        <div class="post-right">
          <% if review.rating.present? %>
            <h4><%= "⭐️" * review.rating %></h4>
          <% end %>
          <div style="display: flex; justify-content: space-between;">
            <% if review.user.present? && review.user.name.present? %>
              <h5><%= review.user.name %></h5>
            <% else %>
              <h5>Usuario dado de baja</h5>
            <% end %>
          </div>
          <div style="display: flex;">
            <p style="font-size: 12px;">Creación: <%= review.created_at.strftime("%d/%m/%Y %H:%M") %>,</p>
            <p style="font-size: 12px; margin-left: 10px;">Actualización: <%= review.updated_at.strftime("%d/%m/%Y %H:%M") %></p>
          </div>
          <p><%= review.comment %></p>
        </div>
      </div>
    <% end %>
    <%= paginate @reviews %>
  </div>
</div>
