<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>

      <p>

      <% if Like.find_by(user_id: @current_user.id, service_id: @service.id) %>
        <%= link_to("/likes/#{@service.id}/destroy", {method: "post"}) do %>
          <span class="fa fa-heart liked-btn"></span>
        <% end %>
      <% else %>
        <%= link_to("/likes/#{@service.id}/create", {method: "post"}) do %>
          <span class="fa fa-heart unliked-btn"></span>
        <% end %>
      <% end %>

      <%= @likes_count %>


      <p>
        <h5>Nombre del servicio</h5>
        <%= @service.title %>
      </p>
      <p>
        <h5>Imagen</h5>
        <img src="<%= "/service_images/#{@service.image}" %> ">
      </p>
      <p>
        <h5>Categoría</h5>
        <%= @service.category %>
      </p>
      <p>
        <h5>Tiempo de servicio</h5>
        <%= @service.hour %> min
      </p>
      <p>
        <h5>Precio</h5>
        <%= @service.price %> MXN
      </p>
      <p>
        <h5>Método de provisión</h5>
        <%= @service.method %>
      <p>
      <p>
        <h5>Detalles</h5>
        <%= @service.detail %>
      </p>
      <div class="post-time">
        <h5>Fecha de creación</h5>
        <%= @service.created_at %>
      </div>

      <% if @service.user_id == @current_user.id %>
        <div class="post-menus">
          <%= link_to("Editar", "/services/#{@service.id}/edit") %>
          <%= link_to("Eliminar", "/services/#{@service.id}/destroy", {method: "post"}) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
