<div class="main">
  <div class="container">
    <div class="row">

      <div class="col-12 d-block d-sm-block d-md-none mb-5">
        <h3>Vendedor/a</h3>
        <div class="posts-index-item">
          <div class="row">
            <div class="col-12">
              <% if @service.user.image.attached? %>
                <%= image_tag(@service.user.image, class: 'rounded-circle mx-auto d-block') %>
              <% else %>
                <%= image_tag('default_user.jpg') %>
              <% end %>
            </div>
            <div class="col-12 text-center mt-3">s
              <%= link_to(@service.user.name, user_path(@service.user)) %>
            </div>
            <div class="col-12 text-center mt-2">
              <% if @service.average_rating > 0 %>
                <div class="average-rating">
                  <p><%= "⭐️" %> <%= sprintf('%.2f', @service.average_rating) %></p>
                </div>
              <% else %>
                <p> -- </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-7 col-lg-8 col-12">
        <h3>Servicio</h3>
        <div class="service-show-item">
          <div style="display: flex; justify-content: flex-end;">
            <% if current_user && @service.user_id == current_user.id %>
              <%= button_to edit_service_path(@service), method: :get do %>
                <i class="fa-solid fa-pen-to-square"></i>
              <% end %>
              <%= button_to service_path(@service), method: :delete, form: { data: { turbo_confirm: "¿Estás seguro de que deseas eliminar este servicio?" }} do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
            <% end %>
          </div>
            <h3><%= @service.title %></h3>
          <div style="display: flex; justify-content: space-between;">
            <div class="star">
              <% if @reviews.present? %>
                <div class="average-rating">
                  <p><%= "⭐️" %> <%= sprintf('%.2f', calculate_average_rating(@reviews)) %></p>
                </div>
              <% else %>
                <h5> -- </h5>
              <% end %>
            </div>
            <div class="like-button">
              <% if current_user %>
                <% if Like.user_and_service(current_user.id, @service.id) %>
                  <%= button_to like_path(service_id: @service.id), method: :delete do %>
                    <span class="fa fa-heart liked-btn"></span>
                  <% end %>
                <% else %>
                  <%= button_to likes_path(service_id: @service.id), method: :post do %>
                    <span class="fa fa-heart unliked-btn"></span>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div style="display: flex; justify-content: space-between;">
            <%= @service.category&.name || "" %>
          </div>
          <br>
          <div class="service-image">
            <% if @service.image.attached? %>
              <%= image_tag(@service.image, class: "service-image") %>
            <% else %>
              <%= image_tag('default_service.jpg', class: "service-image") %>
            <% end %>
          </div>
          <br>
          <h4>Detalle</h4>
          <p><%= simple_format(@service.detail) %></p>
        </div>
        <br>
        <div class="d-grid gap-2 col-12 mx-auto">
          <%= link_to "Hacer el pedido", new_order_path(seller_id: @service.user_id, service_id: @service.id, buyer_id: current_user&.id), class: "btn btn-primary" %>
        </div>
      </div>

      <!-- end div service -->
      <div class="col-md-5 col-lg-4 d-none d-md-block d-lg-block">
        <div class="col">
          <h3 class="text-center">Vendedor/a</h3>
          <div class="posts-index-item">
            <div style="display: flex; justify-content: flex-end;">
            </div>
            <div class="row">
              <div class="col-12">
                <% if @service.user.image.attached? %>
                  <%= image_tag(@service.user.image, class: 'rounded-circle mx-auto d-block') %>
                <% else %>
                  <%= image_tag('default_user.jpg') %>
                <% end %>
              </div>
              <div class="col-12 text-center mt-3">
                <%= link_to(@service.user.name, user_path(@service.user)) %>
              </div>
              <div class="col-12 text-center mt-2">
                <% if @service.average_rating > 0 %>
                  <div class="average-rating">
                    <p><%= "⭐️" %> <%= sprintf('%.2f', @service.average_rating) %></p>
                  </div>
                <% else %>
                  <p> -- </p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->

    <br>
    <h3>Evaluación</h3>
      <div class="row">
        <% @reviews.each do |review| %>
          <div class="col-12 mb-4">
            <div class="card" style="width: 100%;">

              <div class="card-body">
                <div class="d-flex align-items-start mb-3">

                  <% if review.user.image.attached? %>
                    <%= image_tag(review.user.image, class: "rounded-circle mr-3", style: "width: 50px; height: 50px;") %>
                  <% else %>
                    <%= image_tag('default_user.jpg', class: "rounded-circle mr-3", style: "width: 50px; height: 50px;") %>
                  <% end %>

                  <div class="flex-grow-1" style="margin-left: 10px;">
                    <h5 style="margin-top: 5px; color: #196F3D;">Servicio: <%= review&.service&.title&.truncate(25) || 'Este registro ha sido eliminada.' %></h5>
                    <% if review.rating.present? %>
                      <div><%= "⭐️" * review.rating %></div>
                    <% end %>
                    <% if review.user.name.present? %>
                      <p class="font-weight-bold" style="margin-top: 5px; margin-bottom: 5px;"><%= review.user.name %></p>
                    <% else %>
                      <p class="font-weight-bold" style="margin-top: 5px; margin-bottom: 5px;">Usuario dado de baja</p>
                    <% end %>
                    <div class="d-flex justify-content-start" style="font-size: 12px;">
                      <div style="margin-right: 10px;">Creación: <%= review.created_at.strftime("%d/%m/%Y %H:%M") %></div>
                      <div style="margin-bottom: 10px;">Actualización: <%= review.updated_at.strftime("%d/%m/%Y %H:%M") %></div>
                    </div>
                    <p><%= review.comment %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= paginate @reviews %>
  </div>
</div>
