<!-- Used -->
<div class="main posts-show">
  <div class="container">
    <h1 class="form-heading">Iniciar sesión</h1>
    <div class="posts-show-item">
      <div class="form-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, 'Correo electrónico' %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password, 'Contraseña' %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, 'Recuérdame' %>
            </div>
          <% end %>

          <%#= recaptcha_tags %>

          <div class="actions">
            <%= f.submit "Iniciar sesión", class: "btn btn-primary" %>
          </div>
        <% end %>

        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
