<div class="main users-edit">
  <div class="container">
    <div class="form-heading">Editar cuenta</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
          <p>Nombre de usuario</p>
          <input name="name" value="<%= @user.name %>">
          <p>Imagen</p>
          <input name="image" type="file">
          <p>Correo electrónico</p>
          <input name="email" value="<%= @user.email %>">
          <p>Nueva contraseña</p>
          <input name="password" value="<%= @user.password %>">
          <input type="submit" value="保存">

        <% end %>
      </div>
    </div>
  </div>
</div>
