<div class="main users-edit">
  <div class="container">
    <div class="form-heading">Editar cuenta</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
          <h5>Nickname</h5>
          <input name="name" value="<%= @user.name %>">
          <%# <h5>Imagen de profile</h5>
          <input name="image" type="file"> #%>
          <h5>Correo electrónico</h5>
          <input name="email" value="<%= @user.email %>">
          <h5>Número de teléfono</h5>
          <input name="Número de teléfono" value="<%= @user.phone_number %>">
          <h5>Nueva contraseña</h5>
          <p class="small-text">Mínimo 8 caracteres, con una minúscula, una mayúscula, un número y un símbolo.</p>
          <input name="password" type="password">
          <input type="submit" value="Guardar">
        <% end %>
      </div>
      <div class="destroy">
        <% if @user.id == current_user.id %>
          <%= link_to("Para eliminar la cuenta, haga clic aquí por favor. ", "/users/#{@user.id}/destroy") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
