<div class="main">
  <div class="container">
    <h1 class="text-center">Favoritos</h1>
    <div class="cards-container">
      <% if @services.any? %>
        <% @services.each do |service| %>
          <%= link_to service_path(service.id) do %>
            <div class="card">
              <% if service.image.attached? %>
                <%= image_tag(service.image, class: "card-img-top", alt: "...") %>
              <% else %>
                <%= image_tag('default_service.jpg', class: "card-img-top", alt: "...") %>
              <% end %>
              <div class="card-body">
                <p class="card-title"><%= service.title.truncate(30) %></p>
                <p class="card-text"><%= service.user.name %></p>
                <div class="star">
                  <% reviews = service.reviews %>
                  <% if reviews.present? %>
                    <% average_rating = service.average_rating %>
                    <%= "⭐️" %> <%= sprintf('%.2f', average_rating) %>
                  <% else %>
                    --
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        <%= paginate @services %>
      <% else %>
        <p>No tienes servicios favoritos.</p>
      <% end %>
    </div>
  </div>
</div>
