<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/user_images/#{@user.profile_image}" %>">
      <h2><%= @user.name %></h2>
      <p>ID de Usuario: <%= @user.id %></p>
      <% if @average_rating.nil? %>
        <h5>Evaluaciones: -- </h5>
      <% else %>
        <div class="average-rating">
          <h5>
            Evaluaciones: <%= render_stars(@average_rating) %>
            (<%= sprintf('%.2f', @average_rating) %>)
          </h5>
        </div>
      <% end %>
      <% if @current_user && @user.id == @current_user.id %>
        <%= link_to("Editar", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>


    <ul class="user-tabs">
      <li class="<%= 'active' if controller_name == 'users' && action_name == 'show' %>">
        <%= link_to("Servicios", "/users/#{@user.id}") %>
      </li>

      <% if @current_user && @user.id == @current_user.id %>
        <li class="<%= 'active' if controller_name == 'users' && action_name == 'likes' %>">
          <%= link_to("Likes!", "/users/#{@user.id}/likes") %>
        </li>
      <% end %>
      <% if @current_user && @user.id == @current_user.id %>
        <li class="<%= 'active' if controller_name == 'users' && action_name == 'orders' %>">
          <%= link_to("Tus pedidos", user_orders_path(@user.id)) %>
        </li>
      <% end %>
      <% if @current_user && @user.id == @current_user.id %>
        <li class="<%= 'active' if controller_name == 'users' && action_name == 'sales' %>">
          <%= link_to("Tus ventas", user_sales_path(@user.id)) %>
        </li>
      <% end %>
    </ul>

    <% @likes.order(created_at: :desc).each do |like| %>
      <% service = Service.find_by(id: like.service_id) %>
        <%= link_to service_path(service.id) do %>
          <div class="posts-index-item">
            <div class="post-left">
              <img src="<%= "/service_images/#{service.image}" %>">
            </div>
            <div class="post-right">
              <h4><%= service.title %></h4>
              <div>
                <div class="post-user-name">
                  <p>El vendedor: <%= service.user.name %></p>
                </div>
                <div style="display: flex; justify-content: space-between;">
                </div>
              </div>
            </div>
          </div>
        <% end %>
    <% end %>
    <%= paginate @likes %>
  </div>
</div>
