<div class="main user-show">
  <div class="container">
    <% @orders.each do |order| %>
      <div class="posts-index-item">
        <div class="post-left">
          <% if order.service.image.attached? %>
            <%= image_tag(order.service.image) %>
          <% else %>
            <%= image_tag('default_service.jpg') %>
          <% end %>
        </div>

        <div class="post-right">
          <div style="display: flex; justify-content: flex-end;">
            <% if order.accepted? %>
              <% if order.service_reviewed_by_user?(current_user.id) %>
                <%= link_to "Editar evaluación", edit_service_review_path(order.service, order.review_by_user(current_user.id)), class: "btn btn-primary btn-sm" %>
              <% else %>
                <%= link_to "Evaluar", new_service_review_path(order.service), class: "btn btn-primary btn-sm" %>
              <% end %>
            <% end %>

            <span style="padding: 0.1rem 0.5rem; border: 1px solid #000; font-size: 12px; margin-left: 10px;"><%= get_order_status(order.status) %></span>
          </div>

          <div style="display: flex; justify-content: flex-end; padding-top: 10px; ">
            <% if order.accepted? %>
              <%= turbo_frame_tag 'user' do %>
                <%= link_to user_info_order_path(order, user_id: order.seller_id ) do %>
                  <i class="fa-regular fa-address-card" style="font-size: 1.5em;"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>

          <%= link_to service_path(order.service) do %>
            <h4>Servicio: <%= order.service.title %></h4>
          <% end %>

          <%= link_to user_path(order.seller) do %>
            <p style="font-size: 14px;">Vendedor/a: <%= order.service.user.name %></p>
          <% end %>

          <div style="display: flex">
            <p style="font-size: 12px;">ID del pedido:<%= order.id %>,</p>
            <p style="font-size: 12px; margin-left: 10px;">Fecha: <%= order.created_at.strftime("%d/%m/%Y %H:%M") %></p>
          </div>

        </div>
      </div>
    <% end %>
    <%= paginate @orders %>
  </div>
</div>
