<div class="main user-show">
  <div class="container">
    <div class="user">
      <%#<img src="<%= "/user_images/#{@user.profile_image}" %>
      <h2><%= current_user.name %></h2>
      <p>ID de Usuario: <%= current_user.id %></p>
      <% if @average_rating.nil? %>
        <h5>-- </h5>
      <% else %>
        <div class="average-rating">
          <h5>
            <%= render_stars(@average_rating) %>
            (<%= sprintf('%.2f', @average_rating) %>)
          </h5>
        </div>
      <% end %>
      <% if current_user %>
        <%= link_to "Editar tu cuenta",  edit_user_registration_path %>
      <% end %>
    </div>

    <ul class="user-tabs">
      <li class="<%= 'active' if controller_name == 'users' && action_name == 'show' %>">
        <%= link_to("Servicios", user_path(current_user)) %>
      </li>

      <% if current_user  %>
        <li class="<%= 'active' if controller_name == 'users' && action_name == 'likes' %>">
          <%= link_to("Likes!", likes_user_path(current_user.id)) %>
        </li>
      <% end %>
      <% if current_user %>
        <li class="<%= 'active' if controller_name == 'users' && action_name == 'orders' %>">
          <%= link_to("Tus pedidos", orders_user_path(current_user.id)) %>
        </li>
      <% end %>
      <% if current_user %>
        <li class="<%= 'active' if controller_name == 'users' && action_name == 'sales' %>">
          <%= link_to("Tus ventas", sales_user_path(current_user.id)) %>
        </li>
      <% end %>
    </ul>

    <% @orders.each do |order| %>
      <div class="posts-index-item">
        <div class="post-left">
          <% if order.seller.present? && order.plan && order.plan.service %>
              <img src="<%= "/service_images/#{order.plan.service.image}" %>">
          <% else %>
              <img src="<%= "default_service.jpg" %>">
          <% end %>
        </div>
        <div class="post-right">
          <% if order.seller.present? && order.plan && order.plan.service %>
              <%= link_to service_path(order.plan.service) do %>
                  <h4><%= order.plan.service.title %></h4>
              <% end %>
          <% else %>
              <h4>Este registro ha sido eliminada.</h4>
          <% end %>
          <div>
            <div class="post-user-name", style="display: flex; justify-content: space-between;">
              <% if order.seller.present? %>
                <p>Vendedor: <%= order.seller.name %></p>
                <% if current_user.id != order.seller_id %>
                  <% if order.plan && order.plan.service %>
                    <% if !order.already_reviewed?(current_user, order.id) %>
                      <%= link_to "Evaluar", new_review_path(order_id: order.id, service_id: order.plan.service.id, user_id: current_user.id, plan_id: order.plan.id), class: "button-002" %>
                    <% end %>
                  <% end %>
                <% end %>
              <% else %>
                <p>Vendedor: Usuario dado de baja</p>
              <% end %>
            </div>
            <div style="display: flex; justify-content: space-between;">
              <p>Estado: <%= order.status %></p>
              <p>Fecha de pedido: <%= order.created_at.strftime("%d/%m/%Y") %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @orders %>
  </div>
</div>
