<div class="main">
  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID del Pedido</th>
          <th scope="col">Imagen del Servicio</th>
          <th scope="col">Nombre del Servicio</th>
          <th scope="col">Nombre del Proveedor</th>
          <th scope="col">Fecha del Pedido</th>
          <th scope="col">Estado</th>
          <th scope="col">Acción</th>
          <th scope="col">Info de Vendedor</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td>
              <% if order.service.image.attached? %>
                <%= image_tag(order.service.image, class: 'img-thumbnail', size: '50x50') %>
              <% else %>
                <%= image_tag('default_service.jpg', class: 'img-thumbnail', size: '50x50') %>
              <% end %>
            </td>
            <td><%= link_to order.service.title, service_path(order.service) %></td>
            <td><%= link_to order.service.user.name, user_path(order.seller) %></td>
            <td><%= order.created_at.strftime("%d/%m/%Y %H:%M") %></td>
            <td><%= get_order_status(order.status) %></td>
            <td>
              <% if order.accepted? %>
                <% if order.service_reviewed_by_user?(current_user.id) %>
                  <%= link_to "Editar Evaluación", edit_service_review_path(order.service, order.review_by_user(current_user.id)), class: "btn btn-primary btn-sm" %>
                <% else %>
                  <%= link_to "Evaluar", new_service_review_path(order.service), class: "btn btn-primary btn-sm" %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% if order.accepted? %>
                  <i class="fa-solid fa-envelope"></i>: <%= order.seller.email %> <br/>
                  <i class="fa-solid fa-phone"></i>: <%= order.seller.phone_number %>
              <% else %>
                  N/A
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @orders %>
  </div>
</div>
