<div class="main">
  <div class="table-container">
    <h1>Pedidos realizados</h1>
    <div class="table-responsive">
      <!-- テーブルをレスポンシブデザインに対応させるためのコンテナ -->
      <table class="table table-hover">
        <!-- テーブルのヘッダ -->
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
            <th scope="col">Evaluación</th>
            <th scope="col">Info</th>
            <th scope="col">Vendedor/a</th>
            <th scope="col">Servicio</th>
          </tr>
        </thead>
        <!-- テーブルのボディ -->
        <tbody>
          <!-- 注文情報を繰り返し表示 -->
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.created_at.strftime("%d/%m/%Y") %></td>
              <td>
                <!-- 注文の状態に応じたボタンを表示 -->
                <% case order.status %>
                <% when 'pending' %>
                <%= button_tag get_order_status(order.status), class: "btn btn-secondary btn-sm", disabled: true %>
                <% when 'accepted' %>
                <%= button_tag get_order_status(order.status), class: "btn btn-success btn-sm", disabled: true %>
                <% when 'rejected' %>
                <%= button_tag get_order_status(order.status), class: "btn btn-danger btn-sm", disabled: true %>
              <% end %>
            </td>
            <td>
              <!-- 注文が受け入れられた場合のみ評価可能 -->
              <!-- 評価済みの場合は編集リンク、そうでなければ評価リンクを表示 -->
              <% if order.seller.deleted? %>
                N/A
              <% elsif order.accepted? %>
                <% review_for_order = @reviews_by_user.find { |review| review.service_id == order.service_id } %>
                <% if review_for_order %>
                  <%= link_to "Editar", edit_service_review_path(order.service, review_for_order), class: "btn btn-primary btn-sm"  %>
                <% else %>
                  <%= link_to "Evaluar", new_service_review_path(order.service), class: "btn btn-primary btn-sm" %>
                <% end %>
              <% end %>
            </td>
            <td>
              <!-- 注文が受け入れられた場合のみ連絡先情報を表示 -->
              <% if order.seller.deleted? || order.pending? || order.rejected? %>
                N/A
              <% elsif order.accepted? %>
                <div class="info-item">
                  <i class="fa-solid fa-envelope"></i>: <%= order.seller.email %>
                </div>
                <div class="info-item">
                  <i class="fa-solid fa-phone"></i>: <%= order.seller.phone_number %>
                </div>
              <% end %>
            </td>
            <td>
              <!-- サービス提供者の情報。アカウントが削除されていない場合のみ表示 -->
              <% if order.service.user.deleted? %>
                Dado de baja
              <% else %>
                <%= link_to order.service.user.name, user_path(order.seller), class: "link-text" %>
              <% end %>
            </td>
            <td>
              <!-- サービス情報。サービスが削除されていない場合のみ表示 -->
              <% if order.service.user.deleted? || order.service.deleted? %>
                Eliminado
              <% else %>
                <%= link_to order.service.title, service_path(order.service), class: "link-text" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- データベースのデータがページに収まりきらない時に、それを分割して、複数ページにする -->
  <%= paginate @orders %>
</div>
</div>
