<div class="main user-show">
  <div class="container">
    <div class="user">
      <%#<img src="<%= "/user_images/#{@user.profile_image}" %>
      <h2><%= current_user.name %></h2>
      <p>ID de Usuario: <%= current_user.id %></p>
      <% if @average_rating.nil? %>
        <h5>-- </h5>
      <% else %>
        <div class="average-rating">
          <h5>
            <%= render_stars(@average_rating) %>
            (<%= sprintf('%.2f', @average_rating) %>)
          </h5>
        </div>
      <% end %>
      <% if current_user %>
        <%= link_to "Editar tu cuenta",  edit_user_registration_path %>
      <% end %>
    </div>

    <ul class="user-tabs">
      <li class="<%= 'active' if controller_name == 'users' && action_name == 'show' %>">
        <%= link_to("Servicios", user_path(current_user)) %>
      </li>

      <% if current_user %>
        <li class="<%= 'active' if controller_name == 'users' && action_name == 'likes' %>">
          <%= link_to("Likes!", likes_user_path(current_user.id)) %>
        </li>
      <% end %>
      <% if current_user %>
        <li class="<%= 'active' if controller_name == 'users' && action_name == 'orders' %>">
          <%= link_to("Tus pedidos", orders_user_path(current_user.id)) %>
        </li>
      <% end %>
      <% if current_user %>
        <li class="<%= 'active' if controller_name == 'users' && action_name == 'sales' %>">
          <%= link_to("Tus ventas", sales_user_path(current_user.id)) %>
        </li>
      <% end %>
    </ul>

    <% @sales.each do |sale| %>
      <div class="posts-index-item">
        <div class="post-left">
          <% if sale.service %>
            <img src="<%= "/service_images/#{sale.service.image}" %>">
          <% else %>
            <img src="<%= "default_service.jpg" %>">
          <% end %>
        </div>
        <div class="post-right">
          <% if sale.service %>
            <%= link_to service_path(sale.service) do %>
              <h4><%= sale.service.title %></h4>
            <% end %>
          <% else %>
            <h4>Este registro ha sido eliminada.</h4>
          <% end %>
          <div>
            <div class="post-user-name">
              <% if sale.buyer.present? %>
                <p>Comprador: <%= sale.buyer.name %></p>
              <% else %>
                <p>Comprador: Usuario dado de baja</p>
              <% end %>
            </div>
            <div style="display: flex; justify-content: space-between;">
              <p>Estado: <%= sale.status %></p>
              <p>Fecha de pedido: <%= sale.created_at.strftime("%d/%m/%Y") %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @sales %>
  </div>
</div>
