<div class="main">
  <div class="table-container">
    <h1>Pedidos recibidos</h1>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
            <th scope="col">Acción</th>
            <th scope="col">Info</th>
            <th scope="col">Comprador/a</th>
            <th scope="col">Servicio</th>
          </tr>
        </thead>
        <tbody>
          <% @sales.each do |sale| %>
            <tr>
              <td><%= sale.created_at.strftime("%d/%m/%Y") %></td>
              <td>
                <% case sale.status %>
                <% when 'pending' %>
                <%= button_tag get_order_status(sale.status), class: "btn btn-secondary btn-sm", disabled: true %>
                <% when 'accepted' %>
                <%= button_tag get_order_status(sale.status), class: "btn btn-success btn-sm", disabled: true %>
                <% when 'rejected' %>
                <%= button_tag get_order_status(sale.status), class: "btn btn-danger btn-sm", disabled: true %>
              <% end %>
            </td>
            <td>
              <% if sale.buyer.deleted? || sale.accepted? || sale.rejected? %>
                N/A
              <% elsif sale.pending? %>
                <div class="flex-container">
                  <%= button_to "Aceptar", accept_order_path(sale), method: :put, class: "btn btn-primary btn-sm me-2" %>
                  <%= button_to "Rechazar", reject_order_path(sale), method: :put, class: "btn btn-danger btn-sm" %>
                </div>
              <% end %>
            </td>
            <td>
              <% if sale.buyer.deleted? || sale.pending? || sale.rejected? %>
                N/A
              <% elsif sale.accepted? %>
                <div class="info-item">
                  <i class="fa-solid fa-envelope"></i>: <%= sale.buyer.email %>
                </div>
                <div class="info-item">
                  <i class="fa-solid fa-phone"></i>: <%= sale.buyer.phone_number %>
                </div>
              <% end %>
            </td>
            <td>
              <% if sale.buyer.deleted? %>
                Dado de baja
              <% else %>
                <%= link_to sale.buyer.name, user_path(sale.buyer), class: "link-text" %>
              <% end %>
            </td>
            <td>
              <% if sale.service.deleted? %>
                Eliminado
              <% else %>
                <%= link_to sale.service.title, service_path(sale.service), class: "link-text" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @sales %>
</div>
</div>
