<div class="main">
  <div class="table-container">
    <h1>Pedidos recibidos</h1>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
            <th scope="col">Acción</th>
            <th scope="col">Info</th>
            <th scope="col">Comprador/a</th>
            <th scope="col">Servicio</th>
          </tr>
        </thead>
        <tbody>
          <% @sales.each do |sale| %>
            <tr>
              <td><%= sale.created_at.strftime("%d/%m/%Y") %></td>
              <td>
                <% case sale.status %>
                  <% when 'pending' %>
                    <%= button_tag get_order_status(sale.status), class: "btn btn-secondary btn-sm", disabled: true %>
                  <% when 'accepted' %>
                    <%= button_tag get_order_status(sale.status), class: "btn btn-success btn-sm", disabled: true %>
                  <% when 'rejected' %>
                    <%= button_tag get_order_status(sale.status), class: "btn btn-danger btn-sm", disabled: true %>
                <% end %>
              </td>
              <td>
                <% if sale.pending? %>
                  <%# 完了 %><%# [優先度: 中] インラインスタイルは避けた方がよいです %>
                  <div class="flex-container">
                    <%= button_to "Aceptar", accept_order_path(sale), method: :put, class: "btn btn-primary btn-sm me-2" %>
                    <%= button_to "Rechazar", reject_order_path(sale), method: :put, class: "btn btn-danger btn-sm" %>
                  </div>
                <% else %>
                <% end %>
              </td>
              <td>
                <% if sale.accepted? %>
                  <% if sale.buyer.deleted? %>
                    <div class="info-item">
                      <i class="fa-solid fa-envelope"></i>: --
                    </div>
                    <div class="info-item">
                      <i class="fa-solid fa-phone"></i>: --
                    </div>
                  <% else %>
                    <div class="info-item">
                      <%# 完了 %><%# [優先度: 中] spanの閉じタグがありません %>
                      <%# 完了 %><%# [優先度: 高] buyerが退会していた際の考慮がされてないです %>
                      <i class="fa-solid fa-envelope"></i>: <%= sale.buyer.email %>
                    </div>
                    <div class="info-item">
                      <i class="fa-solid fa-phone"></i>: <%= sale.buyer.phone_number %>
                    </div>
                  <% end %>
                <% end %>
              </td>
              <td>
                <% if sale.buyer.deleted? %>
                  <%= sale.buyer.name %>
                <% else %>
                  <%= link_to sale.buyer.name, user_path(sale.buyer), class: "link-text" %>
                <% end %>
              </td>
              <td>
                <%# 完了 %><%# [優先度: 低] `user.deleted_at.nil?`と書くより`user.deleted?`と書く方が、「ユーザが削除されているか？」をより直感的に表せるかと思います。 %>
                <% if sale.service.deleted? %>
                  <%= sale.service.title %>
                <% else %>
                  <%= link_to sale.service.title, service_path(sale.service), class: "link-text" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @sales %>
  </div>
</div>
