<div class="main">
  <div class="container">
    <h1>Pedidos recibidos</h1>
    <div class="table-responsive">
      <table class="table table-hover" style="border: 1px solid #cbd5d5;">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Servicio</th>
            <th scope="col">Comprador/a</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
            <th scope="col">Acción</th>
            <th scope="col">Info</th>
          </tr>
        </thead>
        <tbody>
          <% @sales.each do |sale| %>
            <tr>
              <td><%= sale.id %></td>
              <td>
                <% if sale.buyer.deleted_at.nil? %>
                  <%= link_to sale.service.title, service_path(sale.service), class: "full-text" %>
                <% else %>
                  <%= sale.service.title %>
                <% end %>
              </td>

              <td>
                <% if sale.buyer.deleted_at.nil? %>
                  <%= link_to sale.buyer.name, user_path(sale.buyer), class: "full-text" %>
                <% else %>
                  <%= sale.buyer.name %>
                <% end %>
              </td>
              <td><%= sale.created_at.strftime("%d/%m/%Y") %></td>
              <td>
                <% case sale.status %>
                  <% when 'pending' %>
                    <%= button_tag get_order_status(sale.status), class: "btn btn-secondary btn-sm", disabled: true %>
                  <% when 'accepted' %>
                    <%= button_tag get_order_status(sale.status), class: "btn btn-success btn-sm", disabled: true %>
                  <% when 'rejected' %>
                    <%= button_tag get_order_status(sale.status), class: "btn btn-danger btn-sm", disabled: true %>
                <% end %>
              </td>
              <td>
                <% if sale.pending? %>
                  <div style="display: flex;">
                    <%= button_to "Aceptar", accept_order_path(sale), method: :put, class: "btn btn-primary btn-sm", style: "margin-right: 10px;" %>
                    <%= button_to "Rechazar", reject_order_path(sale), method: :put, class: "btn btn-danger btn-sm" %>
                  </div>
                <% else %>
                <% end %>
              </td>
              <td>
                <% if sale.accepted? %>
                  <i class="fa-solid fa-envelope" style="font-size: 12px;"></i>: <span style="font-size: 12px;"><%= sale.buyer.email %></span> <br/>
                  <i class="fa-solid fa-phone" style="font-size: 12px;"></i>: <span style="font-size: 12px;"><%= sale.buyer.phone_number %></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @sales %>
  </div>
</div>
