<div class="main user-show">
  <div class="container">
    <div class="user">

      <% if @user.image.attached? %>
        <%= image_tag(@user.image) %>
      <% else %>
        <%= image_tag('default_user.jpg') %>
      <% end %>

      <h2><%= current_user.name %></h2>

      <% average_rating = @user.average_service_rating %>
      <% if average_rating.present? %>
        <div class="average-rating">
          <h5>
            <%= "⭐️" * average_rating.round %> (<%= sprintf('%.2f', average_rating) %>)
          </h5>
        </div>
      <% else %>
        <h5> -- </h5>
      <% end %>

      <% if current_user %>
        <%= link_to "Editar tu cuenta",  edit_user_registration_path %>
      <% end %>
    </div>

    <ul class="user-tabs">
      <li class="<%= 'active' if controller_name == 'users' && action_name == 'show' %>">
        <%= link_to("Servicios", user_path(@user)) %>
      </li>

      <li class="<%= 'active' if controller_name == 'users' && action_name == 'reviews' %>">
        <%= link_to("Evaluaciones", reviews_user_path(@user.id)) %>
      </li>

      <% if @user == current_user %>
        <li class="<%= 'active' if controller_name == 'users' && action_name == 'likes' %>">
          <%= link_to("Favoritos", likes_user_path(current_user.id)) %>
        </li>
      <% end %>
      <% if @user == current_user %>
        <li class="<%= 'active' if controller_name == 'users' && action_name == 'orders' %>">
          <%= link_to("Pedidos", orders_user_path(current_user.id)) %>
        </li>
      <% end %>
      <% if @user == current_user %>
        <li class="<%= 'active' if controller_name == 'users' && action_name == 'sales' %>">
          <%= link_to("Ventas", sales_user_path(current_user.id)) %>
        </li>
      <% end %>
    </ul>

    <% @sales.each do |sale| %>
      <div class="posts-index-item">

        <div class="post-left">

        <% if sale.plan && sale.plan.service && sale.plan.service.image.attached? %>
          <%= image_tag(sale.plan.service.image) %>
        <% else %>
          <%= image_tag('default_service.jpg') %>
        <% end %>

        </div>

        <div class="post-right">
          <% if sale.buyer.present? && sale.plan && sale.plan.service %>
            <%= link_to service_path(sale.plan.service) do %>
              <h4>Servicio: <%= sale.plan.service.title %></h4>
              <h4>Plan: <%= sale.plan.title %></h4>
            <% end %>

            <div style="display: flex; justify-content: space-between;">
              <p style="font-size: 14px;"><%= sale.buyer.name %></p>
            </div>

          <% else %>
            <h5>Este registro ha sido eliminada.</h5>
            <p style="font-size: 14px;">Usuario dado de baja</p>
          <% end %>

          <div style="display: flex">
            <p style="font-size: 12px;">ID del pedido:<%= sale.id %>,</p>
            <p style="font-size: 12px; margin-left: 10px;">Fecha: <%= sale.created_at.strftime("%d/%m/%Y %H:%M") %></p>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @sales %>
  </div>
</div>
