<div class="main">
  <div class="table-container">
    <!-- テーブルをレスポンシブにするためのコンテナ -->
    <h1>Pedidos recibidos</h1>
    <div class="table-responsive">
      <!-- ホバー効果付きのテーブル -->
      <table class="table table-hover">
        <!-- テーブルのヘッダ -->
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
            <th scope="col">Acción</th>
            <th scope="col">Info</th>
            <th scope="col">Comprador/a</th>
            <th scope="col">Servicio</th>
          </tr>
        </thead>
        <!-- テーブルのボディ -->
        <tbody>
          <!-- 各販売に対して繰り返し処理 -->
          <% @sales.each do |sale| %>
            <tr>
              <!-- 注文の作成日 -->
              <td><%= sale.created_at.strftime("%d/%m/%Y") %></td>
              <!-- 注文の状態に応じた表示 -->
              <td>
                <% case sale.status %>
                <% when 'pending' %>
                <%= button_tag get_order_status(sale.status), class: "btn btn-secondary btn-sm", disabled: true %>
                <% when 'accepted' %>
                <%= button_tag get_order_status(sale.status), class: "btn btn-success btn-sm", disabled: true %>
                <% when 'rejected' %>
                <%= button_tag get_order_status(sale.status), class: "btn btn-danger btn-sm", disabled: true %>
              <% end %>
            </td>
            <!-- 注文が保留中の場合に表示されるアクション -->
            <td>
              <% if sale.buyer.deleted? || sale.accepted? || sale.rejected? %>
                N/A
              <% elsif sale.pending? %>
                <div class="flex-container">
                  <%= button_to "Aceptar", accept_order_path(sale), method: :put, class: "btn btn-primary btn-sm me-2" %>
                  <%= button_to "Rechazar", reject_order_path(sale), method: :put, class: "btn btn-danger btn-sm" %>
                </div>
              <% end %>
            </td>
            <!-- 買い手の情報、注文が受け入れられた場合のみ表示 -->
            <td>
              <% if sale.buyer.deleted? || sale.pending? || sale.rejected? %>
                N/A
              <% elsif sale.accepted? %>
                <div class="info-item">
                  <i class="fa-solid fa-envelope"></i>: <%= sale.buyer.email %>
                </div>
                <div class="info-item">
                  <i class="fa-solid fa-phone"></i>: <%= sale.buyer.phone_number %>
                </div>
              <% end %>
            </td>
            <!-- 買い手の名前、アカウントが削除されていない場合のみ表示 -->
            <td>
              <% if sale.buyer.deleted? %>
                Dado de baja
              <% else %>
                <%= link_to sale.buyer.name, user_path(sale.buyer), class: "link-text" %>
              <% end %>
            </td>
            <!-- 購入されたサービス、削除されていない場合のみ表示 -->
            <td>
              <% if sale.service.deleted? %>
                Eliminado
              <% else %>
                <%= link_to sale.service.title, service_path(sale.service), class: "link-text" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- データベースのデータがページに収まりきらない時に、それを分割して、複数ページにする -->
  <%= paginate @sales %>
</div>
</div>
