<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/user_images/#{@user.profile_image}" %>">
      <h2><%= @user.name %></h2>
      <p>ID de Usuario: <%= @user.id %></p>
      <% if @current_user && @user.id == @current_user.id %>
        <%= link_to("Editar", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>

    <ul class="user-tabs">
      <li class="<%= 'active' if controller_name == 'users' && action_name == 'show' %>">
        <%= link_to("Servicios", "/users/#{@user.id}") %>
      </li>

      <% if @current_user && @user.id == @current_user.id %>
        <li class="<%= 'active' if controller_name == 'users' && action_name == 'likes' %>">
          <%= link_to("Likes!", "/users/#{@user.id}/likes") %>
        </li>
      <% end %>
      <% if @current_user && @user.id == @current_user.id %>
        <li class="<%= 'active' if controller_name == 'users' && action_name == 'orders' %>">
          <%= link_to("Tus pedidos", user_orders_path(@user.id)) %>
        </li>
      <% end %>
      <% if @current_user && @user.id == @current_user.id %>
        <li class="<%= 'active' if controller_name == 'users' && action_name == 'sales' %>">
          <%= link_to("Tus ventas", user_sales_path(@user.id)) %>
        </li>
      <% end %>
    </ul>

    <% @sales.each do |sale| %>
      <div class="posts-index-item">
        <div class="post-left">
          <% if sale.service.present? %>
            <img src="<%= "/service_images/#{sale.service.image}" %>">
          <% else %>
            <!-- サービスが存在しない場合の表示処理 -->
            <img src="<%= "default_service.jpg" %>">
          <% end %>
        </div>
        <div class="post-right">
          <% if sale.service.present? %>
            <%= link_to "/services/#{sale.service.id}" do %>
              <h4><%= sale.service.title %></h4>
            <% end %>
          <% else %>
            <!-- サービスが存在しない場合の表示処理 -->
            <h4>Este registro ha sido eliminada.</h4>
          <% end %>
          <div>
            <div class="post-user-name">
              <% if sale.service.present? %>
                <p>Comprador: <%= sale.buyer.name %></p>
              <% else %>
                <!-- サービスが存在しない場合の表示処理 -->
                <p>Comprador: Desconocido</p>
              <% end %>
            </div>
            <div style="display: flex; justify-content: space-between;">
              <% if sale.service.present? %>
                <p>Estado: <%= sale.status %></p>
                <p>Fecha de pedido: <%= sale.created_at.strftime("%d/%m/%Y") %></p>
              <% else %>
                <!-- サービスが存在しない場合の表示処理 -->
                <p>Estado: Desconocido</p>
                <p>Fecha de pedido: Desconocido</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @sales %>
  </div>
</div>
