<div class="main">
  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID del Pedido</th>
          <th scope="col">Imagen del Servicio</th>
          <th scope="col">Nombre del Servicio</th>
          <th scope="col">Nombre del Comprador</th>
          <th scope="col">Fecha del Pedido</th>
          <th scope="col">Estado</th>
          <th scope="col">Acción</th>
          <th scope="col">Info de Comprador</th>
        </tr>
      </thead>
      <tbody>
        <% @sales.each do |sale| %>
          <tr>
            <td><%= sale.id %></td>
            <td>
              <% if sale.service.image.attached? %>
                <%= image_tag(sale.service.image, class: 'img-thumbnail', size: '50x50') %>
              <% else %>
                <%= image_tag('default_service.jpg', class: 'img-thumbnail', size: '50x50') %>
              <% end %>
            </td>
            <td><%= link_to sale.service.title, service_path(sale.service) %></td>
            <td><%= link_to get_name_buyer(sale.buyer_id), user_path(sale.buyer) %></td>
            <td><%= sale.created_at.strftime("%d/%m/%Y %H:%M") %></td>
            <td><%= get_order_status(sale.status) %></td>
            <td>
              <% if sale.pending? %>
                <%= button_to "Aprobar", accept_order_path(sale), method: :put, class: "btn btn-primary btn-sm" %>
                <%= button_to "Rechazar", reject_order_path(sale), method: :put, class: "btn btn-danger btn-sm" %>
              <% end %>
            </td>
            <td>
              <% if sale.accepted? %>
                  <i class="fa-solid fa-envelope"></i>: <%= sale.buyer.email %> <br/>
                  <i class="fa-solid fa-phone"></i>: <%= sale.buyer.phone_number %>
              <% else %>
                  N/A
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @sales %>
  </div>
</div>
