<div class="main user-show">
  <div class="container">
    <div class="user">
     <%# <%= image_tag(@user.image) %>
      <h2><%= @user.name %></h2>
      <p>ID de Usuario: <%= @user.id %></p>
      <% if @average_rating.nil? || @average_rating.zero? %>
        <h5>-- </h5>
      <% else %>
        <div class="average-rating">
          <h5>
            <%= render_stars(@average_rating) %>
            (<%= sprintf('%.2f', @average_rating) %>)
          </h5>
        </div>
      <% end %>
      <% if @user == current_user %>
        <%= link_to "Editar tu cuenta", edit_user_registration_path %>
      <% end %>
    </div>

    <ul class="user-tabs">
      <li class="<%= 'active' if controller_name == 'users' && action_name == 'show' %>">
        <%= link_to("Servicios", user_path(@user)) %>
      </li>

      <% if @user == current_user %>
        <li class="<%= 'active' if controller_name == 'users' && action_name == 'likes' %>">
          <%= link_to("Likes!", likes_user_path(current_user.id)) %>
        </li>
      <% end %>
      <% if @user == current_user %>
        <li class="<%= 'active' if controller_name == 'users' && action_name == 'orders' %>">
          <%= link_to("Tus pedidos", orders_user_path(current_user.id)) %>
        </li>
      <% end %>
      <% if @user == current_user %>
        <li class="<%= 'active' if controller_name == 'users' && action_name == 'sales' %>">
          <%= link_to("Tus ventas", sales_user_path(current_user.id)) %>
        </li>
      <% end %>
    </ul>

    <% @services.each do |service| %>
      <%= link_to service_path(service) do %>
        <div class="posts-index-item">
          <div class="post-left">
            <img src="<%= "/service_images/#{service.image}" %>">
          </div>
          <div class="post-right">
            <h4><%= service.title %></h4>
            <div>
              <div class="post-user-name">
                <p>El vendedor: <%= service.user.name %></p>
              </div>
              <div style="display: flex; justify-content: space-between;">
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= paginate @services %>
  </div>
</div>
