<div class="main user-show">
  <div class="container">
    <div class="user">

      <% if @user.image.attached? %>
        <%= image_tag(@user.image) %>
      <% else %>
        <%= image_tag('default_user.jpg') %>
      <% end %>

      <h2><%= @user.name %></h2>

      <% average_rating = @user.average_service_rating %>
      <% if average_rating.present? %>
        <div class="average-rating">
          <h5>
            <%= "⭐️" * average_rating.round %> (<%= sprintf('%.2f', average_rating) %>)
          </h5>
        </div>
      <% else %>
        <h5> -- </h5>
      <% end %>

      <% if @user == current_user %>
        <%= link_to "Editar tu cuenta", edit_user_registration_path %>
      <% end %>
    </div>

    <ul class="user-tabs">
      <li class="<%= 'active' if controller_name == 'users' && action_name == 'show' %>">
        <%= link_to("Servicios", user_path(@user)) %>
      </li>

      <li class="<%= 'active' if controller_name == 'users' && action_name == 'reviews' %>">
        <%= link_to("Evaluaciones", reviews_user_path(@user.id)) %>
      </li>

      <% if @user == current_user %>
        <li class="<%= 'active' if controller_name == 'users' && action_name == 'likes' %>">
          <%= link_to("Favorito", likes_user_path(current_user.id)) %>
        </li>
      <% end %>
      <% if @user == current_user %>
        <li class="<%= 'active' if controller_name == 'users' && action_name == 'orders' %>">
          <%= link_to("Pedidos", orders_user_path(current_user.id)) %>
        </li>
      <% end %>
      <% if @user == current_user %>
        <li class="<%= 'active' if controller_name == 'users' && action_name == 'sales' %>">
          <%= link_to("Ventas", sales_user_path(current_user.id)) %>
        </li>
      <% end %>
    </ul>

    <% @services.each do |service| %>
      <%= link_to service_path(service) do %>
        <div class="posts-index-item">

          <div class="post-left">
          <% if service.image.attached? %>
            <%= image_tag(service.image) %>
          <% else %>
            <%= image_tag('default_service.jpg') %>
          <% end %>
          </div>

          <div class="post-right">
            <div style="display: flex; justify-content: space-between;">
              <h4><%= service.title %></h4><span><i> <%= (service.deletion_at ? '(Eliminado)' : '') %></i></span>
            </div>
            <div style="display: flex; justify-content: space-between;">
              <p><%= service.user.name %></p>
            </div>
            <div style="display: flex; justify-content: space-between;">
              <p><%= service.category %></p>
            </div>
            <div style="display: flex; justify-content: space-between;">
              <div class="star">
                <% reviews = service.reviews %>
                <% if reviews.present? %>
                  <% average_rating = calculate_average_rating(reviews) %>
                  <%= "⭐️" * average_rating.round %> (<%= sprintf('%.2f', average_rating) %>)
                <% else %>
                  <h5> -- </h5>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= paginate @services %>
  </div>
</div>
