<div class="top-main">
  <div class="top-mainVisual">
    <div class="top-mainVisual__container">
      <div class="top-message">
        <h1>Mercado de Servicios</h1>
      </div>
        <p>Es posible comprar y vender habilidades y servicios.</p>
        <%= link_to "Registrar", new_user_registration_path, class: "buttons__main" %>
    </div>
  </div>
  <div class="top-main-about-service">
    <div class="inner noflex">
      <h2 class="top-title">Las razones por las que Olumeca ha sido elegido</h2>
      <div class="about_service__list flexbox">
        <div class="about_service__list_item">
          <%= image_tag 'default_service.jpg', alt: '自分のペースで学べる。だから挫折しない。', class: 'normal-size-image' %>
          <p class="about_service__list_item_head">自分のペースで学べる。<br>だから挫折しない。</p>
          <p class="about_service__list_item_body">マンツーマンかつオーダーメイド。スクールのように型や期限がないから、自分のペースで学習プランを組み立てることができます。
          </p>
        </div>
        <div class="about_service__list_item">
          <%= image_tag 'default_service.jpg', alt: '自分のペースで学べる。だから挫折しない。', class: 'normal-size-image' %>
          <p class="about_service__list_item_head">現場のプロに聞ける。<br>実践で通用するスキルが身につく。</p>
          <p class="about_service__list_item_body">約3,500名の現場で働くプロに直接相談。だから教科書にはない実践的なスキル、学ぶべきことがわかります。</p>
        </div>
        <div class="about_service__list_item">
          <%= image_tag 'default_service.jpg', alt: '自分のペースで学べる。だから挫折しない。', class: 'normal-size-image' %>
          <p class="about_service__list_item_head">リーズナブル。<br>だから学びが続く。</p>
          <p class="about_service__list_item_body">MENTAは個人に直接教えてもらえるためリーズナブル（平均契約価格帯1.4万円）。オーダーメイドだからこそ、予算に応じた相談ができます。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="top-newServices">
    <div class="top-newServices__container">
      <h2 class="top-title">Servicios Nuevos</h2>
        <% if @services.empty? %>
          <p style="text-align: center">No hay servicios disponibles</p>
        <% else %>
          <% @services.each do |service| %>
            <%= link_to service_path(service) do %>
              <div class="posts-index-item">
                <div class="post-left">
                  <% if service.image.attached? %>
                    <%= image_tag(service.image) %>
                  <% else %>
                    <%= image_tag('default_service.jpg') %>
                  <% end %>
                </div>
                <div class="post-right">
                  <div style="display: flex; justify-content: space-between;">
                    <h4><%= service.title.truncate(40) %></h4>
                  </div>
                  <div style="display: flex; justify-content: space-between;">
                      <span><%= service.user.name %></span>
                  </div>
                  <div style="display: flex; justify-content: space-between;">
                    <span><%= service.category&.name || "" %></span>
                  </div>
                  <div style="display: flex; justify-content: space-between;">
                    <div class="star">
                      <% reviews = service.reviews %>
                      <% if reviews.present? %>
                        <% average_rating = calculate_average_rating(reviews) %>
                        <%= "⭐️" %> <%= sprintf('%.2f', average_rating) %>
                      <% else %>
                        <h5> -- </h5>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
          <div class="top-main-button">
            <%= link_to "Ver más servicios", services_path, class: "buttons__main" %>
          </div>
        <% end %>
    </div>
  </div>
  <div class="top-main-buyer">
    <div class="top-main-buyer__container">
      <h2 class="top-title">Lo que puede hacer el(la) comprador(a)</h2>
      <ul>
        <li>Compra de servicios publicado</li>
        <li>Solicitud de presupuesto</li>
      </ul>
      <br>
      <h2 class="top-title">Pasos para comprar un servicio</h2>
      <ol>
        <li>Búsqueda: Elija un servicio de la lista de servicios.</li>
        <li>Comparación: Verifique los detalles del servicio y considere las opciones.</li>
        <li>Compra: Confirme el contenido del servicio previamente por WhatsApp y compre mediante transferencia bancaria.</li>
        <li>Comunicación: Después de la compra, comunique a través de WhatsApp o videoconferencia.</li>
      </ol>
      <%= link_to "Buscar un servicio", services_path, class: "buttons__main" %>
    </div>
  </div>
  <div class="top-main-seller">
    <div class="top-main-seller__container">
      <h2 class="top-title">Lo que puede hacer el(la) proveedor(a)</h2>
      <ul>
        <li>Oferta de servicios</li>
      </ul>
      <br>
      <h2 class="top-title">Pasos para ofrecer un servicio</h2>
      <ol>
        <li>Publicación: Introduce el contenido del servicio según los ítems.</li>
        <li>Recepción de pedidos: Las consultas o compras del servicio se notificarán a través de WhatsApp.</li>
        <li>Comunicación y entrega: Después de recibir el pedido, proporciona el servicio a través de WhatsApp o videoconferencia.</li>
      </ol>
      <%= link_to "Publicar un servicio", new_service_path, class: "buttons__main" %>
    </div>
  </div>
  <div class="top-whatsapp">
    <div class="top-whatsapp__container">
      <h2 class="top-title">Contacto</h2>
        <p>Si tiene alguna pregunta, por favor contacte al administrador (<a href="https://miraie-mexico.com/%e4%bc%9a%e7%a4%be%e6%a6%82%e8%a6%81/" style="color: blue; text-decoration: underline;">Miraie México, S.A. de C.V.</a>) a través de WhatsApp.</p>
        <br>
        <a href="https://wa.me/4423831033" target="_blank" class="whatsapp-button">
            <i class="fab fa-whatsapp fa-2x" style="margin-right: 5px;"></i>
            Contactar
        </a>
    </div>
  </div>
</div>
