<div class="top-main">
  <div class="top-mainVisual">
    <div class="top-mainVisual__container">
      <div class="left">
        <div class="top-message">
          <h1>Mercado de Servicios</h1>
        </div>
          <p>Es posible comprar y vender habilidades y servicios.</p>
          <%= link_to "Registrar", new_user_registration_path, class: "buttons__main" %>
      </div>
      <div class="right">
          <%= image_tag 'default_service.jpg', alt: '自分のペースで学べる。だから挫折しない。', class: 'normal-size-image' %>
      </div>
    </div>
  </div>

  <div class="top-main-about-service">
    <div class="inner noflex">
      <h2 class="top-title">Las razones por las que Olumeca ha sido elegido</h2>
      <div class="about_service__list flexbox">
        <div class="about_service__list_item">
          <%= image_tag 'default_service.jpg', alt: '自分のペースで学べる。だから挫折しない。', class: 'normal-size-image' %>
          <p class="about_service__list_item_head">自分のペースで学べる。<br>だから挫折しない。</p>
          <p class="about_service__list_item_body">マンツーマンかつオーダーメイド。スクールのように型や期限がないから、自分のペースで学習プランを組み立てることができます。
          </p>
        </div>
        <div class="about_service__list_item">
          <%= image_tag 'default_service.jpg', alt: '自分のペースで学べる。だから挫折しない。', class: 'normal-size-image' %>
          <p class="about_service__list_item_head">現場のプロに聞ける。<br>実践で通用するスキルが身につく。</p>
          <p class="about_service__list_item_body">約3,500名の現場で働くプロに直接相談。だから教科書にはない実践的なスキル、学ぶべきことがわかります。</p>
        </div>
        <div class="about_service__list_item">
          <%= image_tag 'default_service.jpg', alt: '自分のペースで学べる。だから挫折しない。', class: 'normal-size-image' %>
          <p class="about_service__list_item_head">リーズナブル。<br>だから学びが続く。</p>
          <p class="about_service__list_item_body">MENTAは個人に直接教えてもらえるためリーズナブル（平均契約価格帯1.4万円）。オーダーメイドだからこそ、予算に応じた相談ができます。</p>
        </div>
      </div>
    </div>
  </div>

  <div class="top-newServices">
    <div class="top-newServices__container">
      <h2 class="top-title">Servicios Nuevos</h2>
        <% if @services.empty? %>
          <p style="text-align: center">No hay servicios disponibles</p>
        <% else %>
          <% @services.each do |service| %>
            <%= link_to service_path(service) do %>
              <div class="posts-index-item">
                <div class="post-left">
                  <% if service.image.attached? %>
                    <%= image_tag(service.image) %>
                  <% else %>
                    <%= image_tag('default_service.jpg') %>
                  <% end %>
                </div>
                <div class="post-right">
                  <div style="display: flex; justify-content: space-between;">
                    <h4><%= service.title.truncate(40) %></h4>
                  </div>
                  <div style="display: flex; justify-content: space-between;">
                      <span><%= service.user.name %></span>
                  </div>
                  <div style="display: flex; justify-content: space-between;">
                    <span><%= service.category&.name || "" %></span>
                  </div>
                  <div style="display: flex; justify-content: space-between;">
                    <div class="star">
                      <% reviews = service.reviews %>
                      <% if reviews.present? %>
                        <% average_rating = calculate_average_rating(reviews) %>
                        <%= "⭐️" %> <%= sprintf('%.2f', average_rating) %>
                      <% else %>
                        <h5> -- </h5>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
          <div class="top-main-button">
            <%= link_to "Ver más servicios", services_path, class: "buttons__main" %>
          </div>
        <% end %>
    </div>
  </div>

  <div class="top-main-buyer">
    <div class="top-main-buyer__container">
      <div class="top-message">
        <h2 style="color: #33CC33; font-weight: bold;">PARA COMPRADOR/A</h2>
      </div>
      <br>
      <div class="inner noflex">
        <h2 class="top-title">Lo que puede hacer comprador/a</h2>
        <div class="about_service__list flexbox">
          <div class="about_service__list_item">
            <%= image_tag 'default_service.jpg', alt: '自分のペースで学べる。だから挫折しない。', class: 'normal-size-image' %>
            <p class="about_service__list_item_head">約3,000名のメンターから選べる</p>
            <p class="about_service__list_item_body">プログラミング、デザイン、起業など学びたいスキルでピンポイントに探せます。見つからない場合は、メンターを募集することも可能です。
            </p>
          </div>
          <div class="about_service__list_item">
            <%= image_tag 'default_service.jpg', alt: '自分のペースで学べる。だから挫折しない。', class: 'normal-size-image' %>
            <p class="about_service__list_item_head">個別に教えてもらえる</p>
            <p class="about_service__list_item_body">あなたが悩んでいることをダイレクトに相談して、マンツーマンで解決までたどり着くことができます。</p>
          </div>
          <div class="about_service__list_item">
            <%= image_tag 'default_service.jpg', alt: '自分のペースで学べる。だから挫折しない。', class: 'normal-size-image' %>
            <p class="about_service__list_item_head">リーズナブル</p>
            <p class="about_service__list_item_body">スクールなどの企業ではなく、個人のメンターと直契約するため比較的リーズナブルに教えてもらうことができます。</p>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <h2 class="top-title">Pasos para comprar un servicio</h2>
      <div class="c-serviceStep_flow">
        <div class="c-serviceFlow">
          <div class="about_service__list_item_head">
            1. 検索
          </div>
          <div class="c-serviceFlow_text">
            カテゴリ絞り込みやキーワード検索をもとに、サービスを絞り込みます。
          </div>
        </div>

        <div class="c-serviceFlow">
          <div class="about_service__list_item_head">
            2. 比較
          </div>
          <div class="c-serviceFlow_text">
            金額・納期・サービスの提供形式など豊富な情報をもとに、比較検討します。
          </div>
        </div>

        <div class="c-serviceFlow">
          <div class="about_service__list_item_head">
            3. 購入
          </div>
          <div class="c-serviceFlow_text">
            自分にあった決済手段で、気に入ったサービスを購入します。
          </div>
        </div>

        <div class="c-serviceFlow">
          <div class="about_service__list_item_head">
            4. やりとり
          </div>
          <div class="c-serviceFlow_text">
            購入後はトークルーム内で出品者とチャット形式でやりとりします。
          </div>
        </div>
      </div>
      <%= link_to "Buscar un servicio", services_path, class: "buttons__main" %>
    </div>
  </div>


  <div class="top-main-seller">
    <div class="top-main-seller__container">
      <div class="top-message">
        <h2 style="color: #3366FF; font-weight: bold;">PARA VENDEDOR/A</h2>
      </div>
      <br>
      <div class="inner noflex">
        <h2 class="top-title">Lo que puede hacer vendedor/a</h2>
        <div class="about_service__list flexbox">
          <div class="about_service__list_item">
            <%= image_tag 'default_service.jpg', alt: '自分のペースで学べる。だから挫折しない。', class: 'normal-size-image' %>
            <p class="about_service__list_item_head">内容・料金を自由に設定</p>
            <p class="about_service__list_item_body">平均契約価格は14,000円。内容や金額は自由に設定できます。MENTAはメンティーによりそいながら、1人前になるまで継続的にサポートするサービスです。そのため、スポットよりも月額でのプラン作成が主流となっています。
            </p>
          </div>
          <div class="about_service__list_item">
            <%= image_tag 'default_service.jpg', alt: '自分のペースで学べる。だから挫折しない。', class: 'normal-size-image' %>
            <p class="about_service__list_item_head">スキマ時間を有効活用</p>
            <p class="about_service__list_item_body">スキマ時間でいつでもどこでもスマホでも対応できます。空いた時間を無駄にすることなく収入アップが見込めます。</p>
          </div>
          <div class="about_service__list_item">
            <%= image_tag 'default_service.jpg', alt: '自分のペースで学べる。だから挫折しない。', class: 'normal-size-image' %>
            <p class="about_service__list_item_head">定期収入を得よう</p>
            <p class="about_service__list_item_body">MENTAではサブスク型（月額）のプランの作成が可能です。あなたのスキルを教えることで定期収入をつくりましょう。</p>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <h2 class="top-title">Pasos para ofrecer un servicio</h2>
      <div class="c-serviceStep_flow">
        <div class="c-serviceFlow">
          <div class="about_service__list_item_head">
            1. 出品
          </div>
          <div class="c-serviceFlow_text">
            項目に沿ってサービス内容を入力していきます。可能な提供手法は、テキスト・電話・ビデオチャット・コンテンツがあります。
          </div>
        </div>

        <div class="c-serviceFlow">
          <div class="about_service__list_item_head">
            2. 受注
          </div>
          <div class="c-serviceFlow_text">
            サービスが購入されると、通知でお知らせが届きます。見積もり依頼が来た場合は、好みの条件が提案ができます。
          </div>
        </div>

        <div class="c-serviceFlow">
          <div class="about_service__list_item_head">
            3. やり取り
          </div>
          <div class="c-serviceFlow_text">
            受注後はチャット形式などでサービスを提供します。必要に応じて添付ファイルなども用いて納品しましょう。
          </div>
        </div>
      </div>
      <%= link_to "Publicar un servicio", new_service_path, class: "buttons__main" %>
    </div>
  </div>


  <div class="top-registar">
    <div class="top-registar__container">
      <h2 class="top-title">Comencemos con la registración gratuita</h2>
      <%= link_to "Registar", new_user_registration_path, class: "btn btn--orange btn--cubic btn--shadow" %>
    </div>
  </div>
</div>
