<div class="main posts-show">
  <div class="container">
    <h1 class="form-heading">Detalles del Pedido</h1>
    <div class="form-001">
      <%= form_for @order do |f| %>
        <input type="hidden" name="order[service_id]" value="<%= @service.id %>" />
        <p>Servicio: <%= @service.title %></p>
        <p>Vendedor(a): <%= @seller.name %></p>
        <%= f.submit 'Realizar Pedido', class: "button-004" %>
      <% end %>
    </div>
  </div>
</div>
