<div class="main">
  <div class="container">
    <h1>Detalles del Pedido</h1>
    <div class="form-001">
      <%= form_with(model: @order) do |f| %>
        <input type="hidden" name="order[service_id]" value="<%= @service.id %>" />
        <p>Servicio: <%= @service.title %></p>
        <p>Vendedor(a): <%= @service.user.name %></p>
        <%= f.submit 'Realizar Pedido', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
