<div class="main posts-show">
  <div class="container">
    <h1 class="form-heading">Detalles del Pedido</h1>
    <div class="form-001">
      <%= form_for @order do |f| %>
        <p>Servicio: <%= @service.title %></p>
        <p>Plan: <%= @plan.title %></p>
        <p>Vendedor(a): <%= @seller.name %></p>
        <%= f.hidden_field :plan_id, value: @plan.id %>
        <%= f.submit 'Realizar Pedido', class: "buttons__main" %>
      <% end %>
    </div>
  </div>
</div>
