<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
        <%= form_for @order do |f| %>
          <h2>Detalles del Pedido</h2>
          <p>Comprador(a): <%= @buyer.name %></p>
          <p>Vendedor(a): <%= @seller.name %></p>
          <p>Servicio: <%= @service.title %></p>
          <%= f.hidden_field :service_id, value: @service.id %>
          <%= f.submit 'Realizar Pedido', class: "buttons__main" %>
        <% end %>
        <p>※Con respecto al método de pago, le informaremos a través de WhatsApp. Agradeceríamos que nos contacte por WhatsApp para comunicarse con el administrador.</p>
    </div>
  </div>
</div>
