<div class="main">
  <div class="form-container">
    <h1 class="ms-2 me-2">Detalles del Pedido</h1>
    <div class="form">
      <div class="form-body">
        <!-- form_withヘルパーを使用して、@orderオブジェクトに基づくフォームを作成 -->
        <%= form_with(model: @order) do |f| %>
          <!-- service_idを隠しフィールドとしてフォームに挿入、@service.idをその値として設定 -->
          <%= f.hidden_field :service_id, value: @service.id %>
          <p class="mb-2 text-break">Servicio: <%= @service.title %></p>
          <p class="mb-4 text-break">Vendedor(a): <%= @service.user.name %></p>
          <div class="d-grid gap-2 col-6">
            <%= f.submit 'Realizar Pedido', class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
