<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Estimado/a <%= @buyer.name %>,</p>
<% if @order.accepted? %>
  <p>Su pedido ha sido aceptado.</p>
<% else %>
  <p>Lamentablemente, su pedido ha sido rechazado.</p>
<% end %>
<p>Detalles del pedido:</p>
<p>Nombre del producto: <%= @order.service_title %></p>
<p>Plan: <%= @order.plan_title %></p>
<p>Vendedor: <%= @seller.name %></p>
<% if Rails.env.development? %>
  <p>Puede ver sus pedidos en el siguiente <a href="http://localhost:3000/users/<%= @buyer.id %>/orders">enlace</a>.</p>
<% else %>
  <p>Puede ver sus pedidos en el siguiente <a href="https://olumeca.com/users/<%= @buyer.id %>/orders">enlace</a>.</p>
<% end %>
</body>
</html>
