Estimado/a <%= @seller.name %>,

Le informamos que ha recibido un nuevo pedido en Olumeca. A continuación, le ofrecemos los detalles:

- Nombre del producto: <%= sale.service.title %>
- Comprador/a: <%= sale.buyer.name %>

<%# [優先度: 中] 環境による分岐は環境によっては起きる不具合の発見が遅れることになり、好ましくありません。hogehoge_urlなどのヘルパーの利用を検討して下さい。(https://railsguides.jp/routing.html)%>
<%# [優先度: 中] link_toの利用を検討してください %>
<% if Rails.env.development? %>
    Puede revisar el detalle de sus ventas en el siguiente <a href="http://localhost:3000/users/<%= @seller.id %>/sales">enlace</a>.
<% else %>
    Puede revisar el detalle de sus ventas en el siguiente <a href="https://olumeca.com/users/<%= @seller.id %>/sales">enlace</a>.
<% end %>

Atentamente,
Equipo de Olumeca
