<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Estimado/a <%= @seller.name %>,</p>
    <p>Se ha realizado un nuevo pedido.</p>
    <p>Nombre del producto: <%= @order.service_title %></p>
    <p>Plan: <%= @order.plan_title %></p>
    <p>Comprador: <%= @order.buyer_name %></p>
    <% if Rails.env.development? %>
      <p>Puede ver sus ventas en el siguiente <a href="http://localhost:3000/users/<%= @seller.id %>/sales">enlace</a>.</p>
    <% else %>
      <p>Puede ver sus ventas en el siguiente <a href="https://olumeca.com/users/<%= @seller.id %>/sales">enlace</a>.</p>
    <% end %>
  </body>
</html>
