<div class="main">
  <div class="form-container">
    <h1 class="ms-2 me-2">Cambia tu contraseña</h1>
    <div class="form">
      <div class="form-body">

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "needs-validation", novalidate: true }) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>

          <div class="mb-3">
            <%= f.label :password, "Cambia mi contraseña", class: 'form-label' %>
            <% if @minimum_password_length %>
              <%# 完了 %><%# [優先度: 低] emの利用は推奨されません。重要事項のため強調が目的であればstrongタグを、見た目上斜体にしたいだけであればCSSを利用してください %>
              <div class="invalid-feedback">
                (<%= @minimum_password_length %> mínimo de caracteres)</em>
              </div>
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control', required: true %>
            <div class="invalid-feedback">
              Por favor, ingresa tu nueva contraseña.
            </div>
          </div>

          <div class="mb-3">
            <%= f.label :password_confirmation, "Confirma la nueva contraseña", class: 'form-label' %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', required: true %>
            <div class="invalid-feedback">
              Por favor, confirma tu nueva contraseña.
            </div>
          </div>

          <div class="actions">
            <%= f.submit "Cambia mi contraseña", class: "btn btn-primary" %>
          </div>
        <% end %>

        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
