<div class="main users-edit">
  <div class="container">
    <h1 class="form-heading">Cambia tu contraseña</h1>
      <div class="form">
        <div class="form-body">

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "users/shared/error_messages", resource: resource %>
            <%= f.hidden_field :reset_password_token %>

            <div class="field">
              <%= f.label :password, "Cambia mi contraseña" %><br />
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> mínimo de caracteres)</em><br />
              <% end %>
              <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation, "Confirma la nueva contraseña" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

            <div class="actions">
              <%= f.submit "Cambia mi contraseña" %>
            </div>
          <% end %>

          <%= render "users/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
