<div class="main users-edit">
  <div class="container">
    <h1 class="form-heading">¿Olvidaste tu contraseña?</h1>
      <div class="form">
        <div class="form-body">

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "users/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :email, 'Correo electrónico' %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="actions">
              <%= f.submit "Instrucciones para restablecerla" %>
            </div>
          <% end %>

          <%= render "users/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
