          <%= turbo_frame_tag "plan_#{form.index}" do %>
          <%= form.hidden_field :id %>
            <div style="box-shadow: 0 2px 1px #c1ced7;" class="form-body">
              <div class="field">
                <%= form.label :title, 'Título' %><br/>
                <%= form.text_field :title %>
              </div>

              <div class="field">
                <%= form.label :delivery_method, "Método de entrega" %><br/>
                <%= form.select :delivery_method,
                      options_for_select(
                        [['Por favor, elija de la siguiente lista', '', {disabled: true, selected: true}]] +
                        DeliveryMethod.pluck(:name), form.object.delivery_method
                      )
                %>
              </div>

              <div class="field">
                <%= form.label :price, "Precio (MXN)" %><br/>
                <%= form.number_field :price, step: "0.01" %>
              </div>

              <div class="field">
                <%= form.label :detail, "Detalle" %><br/>
                <%= form.text_area :detail %>
              </div>
              <%= form.submit "Eliminar",
                formaction: plan_path(form.index, form.object.id),
                formmethod: :delete,
                formnovalidate: true,
                data: { turbo_frame: "plan_#{form.index}" } if form.index.to_i > 0 %>
            </div>
          <% end %>
