<!DOCTYPE html>
<html>
  <head>
    <title>Olumeca</title>
    <%= favicon_link_tag 'favicon.jpeg' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "turbo", type: "module" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', type: 'module' %>
    <link rel="preload" href="http://localhost:3000/assets/es-module-shims.min-606ae9c3279013fe751cee30f719a592f759e705edb66496812f3d9dbce3d850.js" as="script">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="manifest" href="/path_to_manifest/manifest.json">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Olumeca</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="https://wa.me/4423831033">
                  <i class="fab fa-whatsapp fa-1x" style="margin-right: 5px;"></i>Contactar
                </a>
              </li>

              <li class="nav-item">
                <%= link_to "Servicios", services_path, class: "nav-link" %>
              </li>

              <li class="nav-item">
                <%= link_to "Publicar", new_service_path, class: "nav-link" %>
              </li>

              <% if user_signed_in?  %>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Mis páginas
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="<%= user_path(current_user) %>">Perfil</a></li>
                    <li><a class="dropdown-item" href="<%= edit_user_registration_path %>">Editar tu cuenta</a></li>
                    <li><a class="dropdown-item" href="<%= likes_user_path(current_user.id) %>">Favoritos</a></li>
                    <li><a class="dropdown-item" href="<%= orders_user_path(current_user.id) %>">Pedidos realizados</a></li>
                    <li><a class="dropdown-item" href="<%= sales_user_path(current_user.id) %>">Pedidos recibidos</a></li>
                </li>
                    <li><hr class="dropdown-divider"></li>
                    <li><%= button_to 'Salir', destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
                  </ul>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "Registar", new_user_registration_path, class: "nav-link" %>
                </li>

                <li class="nav-item">
                  <%= link_to "Iniciar sesión", new_user_session_path, class: "nav-link" %>
                </li>
              <% end %>
            </ul>
            <%#= form_with(url: filter_services_path, method: :post, class: "d-flex" ) do |f| %>
              <%#= f.select :category_id, options_for_select(Category.all.map{|category| [category.name, category.id]}), { prompt: 'Todas categorías' }, class: "form-control me-1" %>
              <%#= f.text_field :keyword, placeholder: "Palabra clave", class: "form-control me-1" %>
              <%#= f.submit 'Buscar', class: 'btn btn-outline-success' %><br/>
            <%# end %>

            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </header>

    <% if flash[:notice] %>
      <div class="alert alert-warning alert-dismissible text-center fade show" role="alert" style="margin-top: 100px;">
        <%= flash[:notice] %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger alert-dismissible text-center fade show" role="alert" style="margin-top: 100px;">
        <%= flash[:alert] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <%= yield %>

    <footer class="footer">
      <div class="footer-wrapper">
        <div class="footer-container">
          <p class="footer-item">©Olumeca</p>
        </div>
        <div class="footer-container">
          <p class="footer-item"><%= link_to 'Términos y condiciones', static_pages_terms_of_service_path %></p>
          <p class="footer-item"><%= link_to 'Política de privacidad', static_pages_privacy_policy_path %></p>
          <p class="footer-item"><%= link_to 'Perfil Empresa', 'https://miraie-mexico.com/%e4%bc%9a%e7%a4%be%e6%a6%82%e8%a6%81/' %></p>
          <p class="footer-item"><%= link_to '<i class="fab fa-twitter"></i>'.html_safe, 'https://twitter.com/olumeca' %></p>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <%= javascript_include_tag "main" %>
  </body>
</html>
