<!DOCTYPE html>
<html>
  <head>
    <title>Olumeca</title>
    <%= favicon_link_tag 'favicon.jpeg' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
    <link rel="preload" href="http://localhost:3000/assets/es-module-shims.min-606ae9c3279013fe751cee30f719a592f759e705edb66496812f3d9dbce3d850.js" as="script">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="manifest" href="/path_to_manifest/manifest.json">
  </head>

  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to("Olumeca", "/services/index") %>
        <% else %>
          <%= link_to("Olumeca", "/") %>
        <% end %>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
          <li class="contact-item" style="margin-left: 15px;">
              <a href="https://wa.me/4423831033" target="_blank" style="color: black; display: flex; align-items: center;">
                  <i class="fab fa-whatsapp fa-2x" style="margin-right: 5px;"></i>
                  <span class="contact-text">Contactar</span>
              </a>
          </li>
          <li>
            <%= link_to("Servicios", "/services/index") %>
          </li>
          <li>
            <%= link_to("Publicar", "/services/new") %>
          </li>
          <li>
            <%= link_to("Mi página", "/users/#{@current_user.id}") %>
          </li>
          <li>
            <%= link_to("Salir", "/logout", {method: "post"}) %>
          </li>
        <% else %>
          <li class="contact-item" style="margin-left: 15px;">
              <a href="https://wa.me/4423831033" target="_blank" style="color: black; display: flex; align-items: center;">
                  <i class="fab fa-whatsapp fa-2x" style="margin-right: 5px;"></i>
                  <span class="contact-text">Contactar</span>
              </a>
          </li>
          <li>
            <%= link_to("Servicios", "/services/index") %>
          </li>
          <li>
            <%= link_to("Publicar", "/services/new") %>
          </li>
          <li>
            <%= link_to("Registar", "/signup") %>
          </li>
          <li>
            <%= link_to("Iniciar", "/login") %>
          </li>
          <!--
          <li>
            <%= link_to("TweetAppとは", "/about") %>
          </li>
        -->
        <% end %>
      </ul>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', type: 'module' %>

  </body>
</html>
