<!DOCTYPE html>
<html>
  <head>
    <title>FP México</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to("FP México", "/services/index") %>
        <% else %>
          <%= link_to("FP México", "/") %>
        <% end %>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
          <li>
            <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
          <li>
            <%= link_to("Servicios", "/services/index") %>
          </li>
          <li>
            <%= link_to("Publicar", "/services/new") %>
          </li>
          </li>
          <li>
            <%= link_to("Cerrar sesión", "/logout", {method: "post"}) %>
          </li>
        <% else %>
          <li>
            <%= link_to("Registro nuevo", "/signup") %>
          </li>
          <li>
            <%= link_to("Iniciar sesión", "/login") %>
          </li>
          <!--
          <li>
            <%= link_to("TweetAppとは", "/about") %>
          </li>
        -->
        <% end %>
      </ul>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
