<!-- Used -->
<div class="main users-edit">
  <div class="container">
    <h1 class="form-heading">Edit</h1>
    <div class="form">
      <div class="form-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :name, 'Nombre' %><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
          </div>

         <div class="field">
            <%= f.label :image, 'Imagen' %><br />
            <%= f.file_field :image, autofocus: true, autocomplete: "image" %>
          </div>

          <div class="field">
            <%= f.label :email, 'Correo electrónico' %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <%= f.label :phone_number, 'Número de teléfono' %><br />
            <%= f.text_field :phone_number, autofocus: true, autocomplete: "tel" %>
          </div>

          <div class="field">
            <%= f.label :password, 'Contraseña' %> <i>(Deja en blanco si no deseas cambiarlo)</i><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> caracteres mínimos</em>
            <% end %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, 'Confirmación de contraseña' %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :current_password, 'Contraseña actual' %> <i>(Necesitamos tu contraseña actual para confirmar tus cambios)</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password" %>
          </div>

          <div class="actions">
            <%= f.submit "Actualizar", class: "button-001" %>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <h3>Cancelar mi cuenta</h3>
    <%= link_to "Cancelar", destroy_user_path(resource), method: :delete, data: { "turbo-method": :delete, confirm: "Estas seguro que quieres cancelar?" } %>
    <br>
  </div>
</div>
