<!-- Used -->
<div class="main users-edit">
  <div class="container">
      <h1 class="form-heading">Editar</h1>
    <div class="posts-show-item">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :apodo %><br/>
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>

        <div class="field">
          <%= f.label :imagen_de_perfil %><br/>
          <%= f.file_field :profile_image %>
        </div>

        <div class="field">
          <%= f.label :correo_electrónico %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :número_de_teléfono %><br/>
          <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :contraseña %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :confirmación_de_contraseña %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :contraseña_actual %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Actualizar", class: "button-001" %>
        </div>
      <% end %>
    </div>
    <br>
      <h3>Cancelar mi cuenta</h3>
      <div class="posts-show-item">
        <div>¿No estás contento? <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?", turbo_confirm: "¿Estás seguro?" }, method: :delete, class: "button-001" %></div>
      </div>
    <br>
      <%= link_to "Regresar", :back %>

  </div>
</div>
