<!-- Used -->
<div class="main posts-show">
  <div class="container">
    <h1 class="form-heading">Registrarse</h1>
    <div class="posts-show-item">
      <div class="form-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "users/shared/error_messages", resource: resource, class: "form-error" %>

          <div class="field">
            <%= f.label :name, 'Nombre' %><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
          </div>

          <div class="field">
            <%= f.label :email, 'Correo electrónico' %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :phone_number, 'Número de teléfono' %><br />
            <%= f.text_field :phone_number, autofocus: true, autocomplete: "tel" %>
          </div>

          <div class="field">
            <%= f.label :password, 'Contraseña' %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caracteres mínimos)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, 'Confirmación de contraseña' %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <%#= recaptcha_tags %>

          <div class="field">
            <%= f.check_box :agreement %>
            <%= f.label :agreement do %>
              Aceptar <%= link_to 'los términos y condiciones', static_pages_terms_of_service_path, target: '_blank', style: 'color: blue;' %> y <%= link_to 'la política de privacidad', static_pages_privacy_policy_path, target: '_blank', style: 'color: blue;' %>
            <% end %>
          </div>

          <div class="actions">
            <%= f.submit "Registrarse", class: "button-001" %>
          </div>
        <% end %>

        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
