<!-- Used -->
<div class="main posts-show">
  <div class="container">
    <h1 class="form-heading">Registrarse</h1>
    <div class="posts-show-item">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :apodo %><br />
          <%= f.text_field :name, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :correo_electrónico %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :número_de_teléfono %><br />
          <%= f.telephone_field :phone_number %>
        </div>

        <div class="field">
          <%= f.label :contraseña %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :confirmación_de_contraseña %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

      <%= recaptcha_tags %>

        <div class="actions">
          <%= f.submit "Registrarse", class: "button-001" %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
